<!--<div class="main-wrapper">-->
    <!-- Breadcrumb -->
   <!-- <div class="breadcrumb-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a>Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Pergunte ao Especialista</li>
                        </ol>
                    </nav>
                    <h1 class="breadcrumb-title">Pergunte ao Especialista</h1>
                </div>
            </div>
        </div>
    </div>-->
    <!-- /Breadcrumb -->
    
    <!-- pergunte Banner -->
<section class="section section-search-2">
    <div class="container">
        <div class="row">
            <div id="locImg" class="col-md-2">
                <!--<img src="assets/img/banner-1.png" class="img-fluid search-img" alt="" >-->
            </div>
            <div class="col-md-8">
                <div class="search-area bg-white">
                    <h2 class="text-center">Pesquise uma especialidade ou profissional e faça uma pergunta</h2>
                    <form class="search-input">
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="form-group">
                                    <label>Especialidade/Profissional</label>
                                    <input type="text" class="form-control" value="">
                                </div>
                            </div>
                            <div class="col-12 col-md-12">
                                <div class="form-group form-focus">
                                    <textarea class="form-control bg-grey floating" style="height:150px;" name="pergunta"  ></textarea>
                                    <label class="focus-label">Pergunte aqui.. <span class="text-danger">*</span></label>
                                    
                                </div>
                            </div>
                            
                        </div>
                        <div class="submit-section">
                            <button type="submit" class="btn btn-primary search-btn submit-btn">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- /pergunte Banner -->
<!-- Select Sections-->
<section class="patient-select">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="select-box">
                    <div class="d-flex align-items-center">
                        <div class="image-holder">
                            <span>
                                <img src="assets/img/icons/doct-01.png" alt="" />
                            </span>
                        </div>
                        <div>
                            <h2>Serviço Gratuíto</h2>
                            <p>The service allows you to get maximum visibility online and to manage 
                                appointments and contacts coming from the site, in a simple and fast way.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">							
                <div class="select-box theme">
                    <div class="d-flex align-items-center">
                        <div class="image-holder">
                            <span>
                                <img src="assets/img/icons/clinic-hover-10.png" alt="" />
                            </span>
                        </div>
                        <div>
                            <h2>Tempo de Resposta</h2>
                            <p>Choosing a specialist has never been so fast! You can filter search 
                                results by location and medical specialization, and book medical examination online.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Select Sections-->
<section class="book-doctor">
    <div class="container">		
        <div class="row">
						<div class="col-xl-4 col-sm-4 col-md-4">
							<div class="card">
								<div class="card-body">
									<div class="dash-widget-header">
										<span class="dash-widget-icon text-primary border-primary">
											<i class="fe fe-users"></i>
										</span>
										<div class="dash-count">
											<h3>168</h3>
										</div>
									</div>
									<div class="dash-widget-info">
										<h6 class="text-muted">Perguntas feitas</h6>
										<div class="progress progress-sm">
											<div class="progress-bar bg-primary w-50"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-sm-4 col-md-4">
							<div class="card">
								<div class="card-body">
									<div class="dash-widget-header">
										<span class="dash-widget-icon text-success">
											<i class="fe fe-credit-card"></i>
										</span>
										<div class="dash-count">
											<h3>487</h3>
										</div>
									</div>
									<div class="dash-widget-info">
										
										<h6 class="text-muted">Respostas dadas</h6>
										<div class="progress progress-sm">
											<div class="progress-bar bg-success w-50"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-sm-4 col-md-4">
							<div class="card">
								<div class="card-body">
									<div class="dash-widget-header">
										<span class="dash-widget-icon text-danger border-danger">
											<i class="fe fe-money"></i>
										</span>
										<div class="dash-count">
											<h3>485</h3>
										</div>
									</div>
									<div class="dash-widget-info">
										
										<h6 class="text-muted">Profissionais que participaram</h6>
										<div class="progress progress-sm">
											<div class="progress-bar bg-danger w-50"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
        </div>
    </section>
    <section class="section section-blogs">
        <div class="container">
            <div class="section-header text-center aos aos-init aos-animate" data-aos="fade-up">
                <h2 style="color:#0071DC;">Perguntas e Respostas</h2>
                <p class="sub-title">Perguntas com o maior número de respostas dos últimos 30 dias</p>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="doctor-question-body">
                                <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</h4>
                            </div>
                            <div id="p1" class="pergunta-resposta">
                                
                                <div class="col-md-3 profile-info-widget">
                                        <div class="col-md-4 booking-doc-img">
                                            <img src="http://www.gugaweigert.com.br/vetzcoImagens/avatar-mini.jpg" alt="Especialidade">
                                            <button type="button" class="btn btn-primary btn-sm mt10">&nbsp;Agendar&nbsp;</button>
                                        </div>
                                        <div class="col-md-8 profile-det-info">
                                            <div class="patient-details">
                                                <h5><i class="far fa-clock"></i> especialidade</h5>
                                                <h5><i class="fas fa-map-marker-alt"></i> endereço</h5>
                                                <h5><i class="fas fa-envelope"></i> email</h5>
                                                <h5 class="mb-0"><i class="fas fa-phone"></i> telefone</h5>
                                            </div>
                                        </div>
                                        
                                </div>
                                <div class="col-md-9" style="float:right;">
                                    <div class="doctor-answer-content">
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum
                                    </div>
                                    <button type="button" class="btn btn-info btn-sm mt10" style="float:right;" (click)="getMais()">+ 5 respostas</button>
                                </div>
                                
                            </div>
                            <div *ngIf="vermais" class="mais" style="clear:both;display:block;margin-top:10px;">
                                <p>&nbsp;</p><hr />
                                <div  class="pergunta-resposta" style="clear:both;display:block;padding:10px 0 0 0;">
                                    
                                    <div class="col-md-3 profile-info-widget">
                                            <div class="col-md-4 booking-doc-img">
                                                <img src="http://www.gugaweigert.com.br/vetzcoImagens/avatar-mini-2.jpg" alt="Especialidade">
                                                <button type="button" class="btn btn-primary btn-sm mt10">&nbsp;Agendar&nbsp;</button>
                                            </div>
                                            <div class="col-md-8 profile-det-info">
                                                <div class="patient-details">
                                                    <h5><i class="far fa-clock"></i> especialidade</h5>
                                                    <h5><i class="fas fa-map-marker-alt"></i> endereço</h5>
                                                    <h5><i class="fas fa-envelope"></i> email</h5>
                                                    <h5 class="mb-0"><i class="fas fa-phone"></i> telefone</h5>
                                                </div>
                                            </div>
                                            
                                    </div>
                                    <div class="col-md-9" style="float:right;">
                                        <div class="doctor-answer-content">
                                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                <div  class="pergunta-resposta" style="clear:both;display:block;padding:10px 0 0 0;">
                                
                                    <div class="col-md-3 profile-info-widget">
                                            <div class="col-md-4 booking-doc-img">
                                                <img src="http://www.gugaweigert.com.br/vetzcoImagens/avatar-mini-3.jpg" alt="Especialidade">
                                                <button type="button" class="btn btn-primary btn-sm mt10">&nbsp;Agendar&nbsp;</button>
                                            </div>
                                            <div class="col-md-8 profile-det-info">
                                                <div class="patient-details">
                                                    <h5><i class="far fa-clock"></i> especialidade</h5>
                                                    <h5><i class="fas fa-map-marker-alt"></i> endereço</h5>
                                                    <h5><i class="fas fa-envelope"></i> email</h5>
                                                    <h5 class="mb-0"><i class="fas fa-phone"></i> telefone</h5>
                                                </div>
                                            </div>
                                            
                                    </div>
                                    <div class="col-md-9" style="float:right;">
                                        <div class="doctor-answer-content">
                                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                <div  class="pergunta-resposta" style="clear:both;display:block;padding:10px 0 0 0;">
                                
                                    <div class="col-md-3 profile-info-widget">
                                            <div class="col-md-4 booking-doc-img">
                                                <img src="http://www.gugaweigert.com.br/vetzcoImagens/avatar-mini-4.jpg" alt="Especialidade">
                                                <button type="button" class="btn btn-primary btn-sm mt10">&nbsp;Agendar&nbsp;</button>
                                            </div>
                                            <div class="col-md-8 profile-det-info">
                                                <div class="patient-details">
                                                    <h5><i class="far fa-clock"></i> especialidade</h5>
                                                    <h5><i class="fas fa-map-marker-alt"></i> endereço</h5>
                                                    <h5><i class="fas fa-envelope"></i> email</h5>
                                                    <h5 class="mb-0"><i class="fas fa-phone"></i> telefone</h5>
                                                </div>
                                            </div>
                                            
                                    </div>
                                    <div class="col-md-9" style="float:right;">
                                        <div class="doctor-answer-content">
                                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum
                                        </div>
                                        
                                    </div>
                                    
                                </div>

                                <div class="col-md-12 text-center" style="margin-top:20px;clear:both;display:block;">
                                    <button type="button" class="btn btn-info btn-sm mt10" style="float:right;">Mais..</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="doctor-question-body">
                                <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</h4>
                            </div>
                            <div id="p2" class="pergunta-resposta">
                                
                                <div class="col-md-3 profile-info-widget">
                                        <div class="col-md-4 booking-doc-img">
                                            <img src="http://www.gugaweigert.com.br/vetzcoImagens/avatar-mini-2.jpg" alt="Especialidade">
                                            <button type="button" class="btn btn-primary btn-sm mt10">&nbsp;Agendar&nbsp;</button>
                                        </div>
                                        <div class="col-md-8 profile-det-info">
                                            <div class="patient-details">
                                                <h5><i class="far fa-clock"></i> especialidade</h5>
                                                <h5><i class="fas fa-map-marker-alt"></i> endereço</h5>
                                                <h5><i class="fas fa-envelope"></i> email</h5>
                                                <h5 class="mb-0"><i class="fas fa-phone"></i> telefone</h5>
                                            </div>
                                        </div>
                                        
                                </div>
                                <div class="col-md-9" style="float:right;">
                                    <div class="doctor-answer-content">
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum
                                    </div>
                                    <button type="button" class="btn btn-info btn-sm mt10" style="float:right;">+ 2 respostas</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="doctor-question-body">
                                <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</h4>
                            </div>
                            <div id="p3" class="pergunta-resposta">
                                
                                <div class="col-md-3 profile-info-widget">
                                        <div class="col-md-4 booking-doc-img">
                                            <img src="http://www.gugaweigert.com.br/vetzcoImagens/avatar-mini-3.jpg" alt="Especialidade">
                                            <button type="button" class="btn btn-primary btn-sm mt10">&nbsp;Agendar&nbsp;</button>
                                        </div>
                                        <div class="col-md-8 profile-det-info">
                                            <div class="patient-details">
                                                <h5><i class="far fa-clock"></i> especialidade</h5>
                                                <h5><i class="fas fa-map-marker-alt"></i> endereço</h5>
                                                <h5><i class="fas fa-envelope"></i> email</h5>
                                                <h5 class="mb-0"><i class="fas fa-phone"></i> telefone</h5>
                                            </div>
                                        </div>
                                        
                                </div>
                                <div class="col-md-9" style="float:right;">
                                    <div class="doctor-answer-content">
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum
                                    </div>
                                    <button type="button" class="btn btn-info btn-sm mt10" style="float:right;">+ 2 respostas</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- /Blog Post -->

            </div>

            
            <div class="view-all text-center mb-10">
                <button type="button" class="btn btn-primary  mb10">&nbsp;Veja mais&nbsp;</button>
            </div>
        </div>
    </section>
    
<!--</div>-->