<div class="page-wrapper">

    <div class="content container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive" *ngIf="esteticas">
                            <table class="datatable table table-hover table-center mb-0" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                                <thead>
                                    <tr>
                                        <th>RG</th>
                                        <th>Nome</th>
                                        <th>Atende Plano</th>
                                        <th>Especialidades</th>
                                        <th>Endereço</th>
                                        <th>Data</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let estetica of esteticas">
                                        <td>
                                            <h2 class="table-avatar">
                                                <!-- <a  class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" [src]="doctor.profile" alt="User Image"></a> -->
                                                <a [routerLink]="['/admin/cadastro-estetica/',estetica._id]"> {{estetica.rg}}</a>
                                            </h2>
                                        </td>
                                        <td>{{estetica.nome}}</td>
                                        <td>{{estetica.atendePlano ? 'Sim': 'Não'}}</td>
                                        <td>
                                            <p *ngFor="let especialidade of estetica.especialidades"> {{especialidade.nome}}</p>
                                        </td>
                                        <td>{{estetica.endereco?.logradouro}}</td>
                                        <td data-sort='YYYYMMDD'>{{estetica.dtCriacao | date : 'dd/MM/yyyy'}}</td>
                                        <td>
                                            <div class="status-toggle">
                                                <input type="checkbox" id="{{estetica._id}}" class="check" [checked]="estetica.status" (change)="changeStatus(estetica)">
                                                <label for="{{estetica._id}}" class="checktoggle">checkbox</label>
                                            </div>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row form-row">
                    <div class="submit-section submit-btn-bottom">
                        <a [routerLink]="['/admin/cadastro-estetica']" class="btn submit-btn btn-primary"><i
                  class="fa fa-plus-circle"></i> Cadastrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>