<div class="content">
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-md-8 offset-md-2">
                
                <!-- Account Content -->
                <div class="account-content">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 col-lg-6 login-left">
                            <img src="assets/img/login-banner.png" class="img-fluid" alt="Login Banner">	
                        </div>
                        <div class="col-md-12 col-lg-6 login-right">
                            <div class="login-header">
                                <h3>Cadastre uma nova senha</h3>
                                <p class="small text-muted">Digite seu email e enviaremos um link para redefinição de senha</p>
                            </div>
                            
                            <!-- Forgot Password Form -->
                            <form>
                                <div class="form-group form-focus">
                                    <input type="password" class="form-control floating"  [ngModelOptions]="{standalone: true}" [(ngModel)]="senha" required>
                                    <label class="focus-label">Senha</label>
                                </div>
                                <div class="form-group form-focus">
                                    <input type="password" class="form-control floating"  [ngModelOptions]="{standalone: true}" [(ngModel)]="confirmation" required>
                                    <label class="focus-label">Redigite a Senha</label>
                                </div>
                                <div class="text-right">
                                    <a class="forgot-link" [routerLink]="'/login'">Voltar para página de login?</a>
                                </div>
                                <button *ngIf="!isLoading" class="btn btn-primary btn-block btn-lg login-btn" (click)="redefinirSenha()">Cadastrar Senha</button>
                                <button *ngIf="isLoading" type="button" class="btn submit-btn btn-primary"><span class="spinner-border spinner-border-sm mr-2" role="status"></span>Aguarde</button>

                            </form>
                            <!-- /Forgot Password Form -->
                            
                        </div>
                    </div>
                </div>
                <!-- /Account Content -->
                
            </div>
        </div>

    </div>

</div>	