<!-- Page Content -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Termos e Condições</h1>
                <div class="terms-content">
                    <p>&nbsp;</p>
                    <h2>TERMOS E CONDIÇÕES GERAIS DE USO PARA USUÁRIOS E PROFISSIONAIS: PERFIL BÁSICO</h2>
                    <div class="terms-text">
                        <p><strong><u>VETZCO SERVIÇOS ONLINE E SOFTWARE LTDA.</u></strong> (“VETZCO”), pessoa jurídica de direito privado, inscrita no CNPJ sob o no 44.362.600/0001-75, endereço eletrônico vetzco.com.br, com sede na Rua General Venâncio Flores, 100, apt. 402, Leblon, Rio de Janeiro/RJ e CEP: 22.441-090, é criadora e titular da propriedade intelectual sobre software, website, aplicativos, conteúdos e demais ativos relacionados à plataforma digital VETZCO.</p>
                        <p>Os presentes termos e condições, a seguir, regulamentam o uso da plataforma VETZCO por qualquer pessoa física ou jurídica.</p>
                        
                    </div>
                    <div class="terms-text">
                        <h3>1. DO OBJETO</h3>
                        <p>1.1. A plataforma visa licenciar o uso de seu software, website, aplicativos e demais ativos de propriedade intelectual, fornecendo ferramentas para auxiliar e dinamizar o dia a dia dos seus usuários.</p>
                        
                    </div>
                    <div class="terms-text">
                        <h3>2. DO STATUS DE USUÁRIO</h3>
                        <p> 2.1. O status de USUÁRIO é atribuído àquele que navega na plataforma e utiliza os serviços para agendamento online de consultas presenciais, avaliações e comentários ou utiliza como tutor de um animal.</p>
                        <p> 2.2. Aos médicos-veterinários, clínicas veterinárias, adestradores e esteticistas que se cadastrarem no Perfil Básico ou Premium também será atribuído o status de usuário do Perfil Básico ou Premium.</p>
                    </div>
                    <div class="terms-text">
                        <h3>3. DA ACEITAÇÃO</h3>
                        <p>3.1. O presente termo estabelece obrigações contratadas de livre e espontânea vontade, por tempo indeterminado, entre a plataforma e as pessoas físicas ou jurídicas, usuárias do site ou aplicativo.</p>
                        <p>3.2. Ao utilizar a plataforma o usuário (seja tutor de animal, médico-veterinário, clínica, adestrador ou esteticista) do perfil básico ou premium aceita integralmente as presentes normas e compromete-se a observá-las e a fazer o uso correto do site de acordo com as leis e boa-fé, sob o risco de aplicação das penalidades cabíveis, em que serão responsáveis perante a VETZCO ou terceiros, por quaisquer danos que possam ser causados em decorrência da violação de eventuais obrigações ou orientações aqui impostas.</p>
                        <p>3.3. A aceitação do presente instrumento é imprescindível para o acesso e para a utilização de quaisquer serviços fornecidos pela VETZCO. Caso não concorde com as disposições deste instrumento, o usuário deve abster-se de continuar a usar o site e/ou seus serviços.</p>
                        <p>3.4. O cadastro como usuário implica a aceitação total das condições aqui expostas, alertando que essas condições podem ser modificadas sem notificação prévia.</p>

                    </div>
                    <div class="terms-text">
                        <h3>4. DOS SERVIÇOS DISPONÍVEIS</h3>
                        <p>4.1. O site 'uma plataforma que expõe os perfis de estabelecimentos, profissionais de medicina veterinária, de adestramento e esteticistas viabilizando a possibilidade de consulta às informações, espaço para avaliação por parte dos usuários e a depender do contrato do profissional, a disponibilidade de horários para agendamento online de consultas presenciais.</p>
                        <p>4.2. O uso do site da VETZCO pelos usuários é gratuito e estes não contratam ou adquirem nossos serviços por meio de contraprestação.</p>
                        <p>4.3. Para aqueles que possuem um Perfil Básico o acesso é gratuito.</p>
                        <p>4.4. Para aqueles que possuem um Perfil Premium, o acesso será, temporariamente, gratuito, em um primeiro momento, sendo possível que essas condições possam ser modificadas a qualquer tempo a critério exclusivo da VETZCO.</p>
                        <p>4.5. A VETZCO reserva-se ao direito de alterar a qualquer momento os serviços oferecidos aos Clientes usuários. Desta forma, a VETZCO poderá, a qualquer momento, agregar novos serviços aos atualmente oferecidos. Da mesma forma, a VETZCO reserva-se ao direito de retirar ou deixar de oferecer, a qualquer momento e sem prévio aviso, qualquer dos serviços oferecidos.</p>
                    </div>
                    <div class="terms-text">
                        <h3>5. DO CONTEÚDO E INFORMAÇÕES DOS SERVIÇOS</h3>
                        <p>5.1. Sendo a VETZCO uma plataforma que disponibiliza espaço para os profissionais exporem suas informações ou de seus estabelecimentos, toda informação e conteúdo exposto na plataforma quanto aos serviços e informações profissionais, sobre valores, formas de pagamento, planos de saúde (incluídos pelos próprios profissionais e/ou estabelecimentos), etc., será exclusiva a responsabilidade dos mesmos pela veracidade e exatidão dos dados e informações fornecidas.</p>
                        <p>5.2. Uma vez dentro da www.vetzco.com.br, para proceder com a utilização dos diversos serviços e dispositivos disponíveis, os usuários do Perfil Básico e Premium devem seguir todas as instruções indicadas no próprio site e as informações que vão surgindo, o que significará a leitura e aceitação de todas as condições de uso estabelecidas em www.vetzco.com.br.</p>
                        <p>5.3. A VETZCO não se responsabiliza por quaisquer danos que possam ocorrer aos referidos usuários do Perfil Básico e Premium em consequência de falhas ou desligamentos nas redes de telecomunicações e que causem suspensão, cancelamento ou interrupção do serviço da www.vetzco.com.br durante a prestação das mesmas.</p>
                        
                    </div>
                    <div class="terms-text">
                        <h3>6. DAS CONDIÇÕES DE ADESÃO E DE USO</h3>
                        <p>6.1. Condições de Adesão</p>
                        <p style="margin-left:25px;">6.1.1. A adesão do Contrato está vinculada ao consentimento e ciência de todas as condições aqui estabelecidas, sem a necessidade de fornecer informações adicionais. Os usuários do Perfil Básico e Premium se comprometem a respeitar os Termos de Uso.
                        </p>
                        <p style="margin-left:25px;">6.1.2. Ao aderir ao contrato os usuários do Perfil Básico e Premium:</p>
                            <ul>
                                <li>consentem com o processamento de dados pessoais de acordo com os Termos de Uso e, em especial, com a nossa Política de Privacidade disponível no site.</li>
                                <li>confirma a veracidade das informações fornecidas no cadastro; e</li>
                                    <li>autoriza o recebimento, em um endereço de e-mail especificado, de mensagens do sistema sobre interrupções técnicas na operação do Site, atualizações dos Termos de Uso, novas funcionalidades, informações de marketing, solicitações de avaliações, confirmação de agendamentos e outras comunicações similares.</li>
                            </ul>
                        
                        <p style="margin-left:25px;">6.1.3. O Contrato é celebrado por um período indeterminado.</p>
                        <p style="margin-left:25px;">6.1.4 Para se cadastrar, o usuário médico-veterinário, adestrador e/ou esteticista do Perfil Básico ou Premium deve completar o formulário disponibilizado no Site através do link: https://www.vetzco.com.br/cadastro.</p>
                        <p style="margin-left:25px;">6.1.5 Se o consentimento de qualquer das disposições contidas nos Termos de Uso for revogado, o usuário terá a obrigação de deletar imediatamente a sua Conta ou de informar a VETZCO tal revogação.</p>
                    </div>
                    <div class="terms-text">
                        <h3>6.2. Condições de Uso</h3>
                        <p style="margin-left:25px;">6.2.1. Para utilizar os Serviços, os usuários do Perfil Básico e Premium deverão atender às
                            seguintes condições técnicas:</p>
                            <ul>
                                <li>Possuir acesso à Internet; e instalação de um dos seguintes navegadores da Web:
                                    Firefox, Chrome, Safari, Microsoft Edge ou Opera, atualizados na versão mais recente.</li>
                                
                            </ul>
                            
                            
                        <p style="margin-left:25px;">6.2.2. O Usuário Tutor de pet terá acesso às informações e avaliações sobre Profissionais e Estabelecimentos ao utilizar o mecanismo de busca disponibilizado no Site. O site e</p>
                        <p style="margin-left:25px;">6.2.3 Os usuários do Perfil Básico e Premium se comprometem, expressamente, a fazerem uso adequado dos conteúdos e serviços da VETZCO e não os usar para, entre outros:</p>
                        <ul>
                            <li>Disseminar conteúdo que seja criminoso, violento, pornográfico, racista, xenófobo, ofensivo, apologia ao terrorismo ou, em geral, contrário à lei ou à ordem pública.</li>
                            <li>Introduzir vírus de computador na rede ou executar ações que possam alterar, danificar, interromper ou gerar erros ou danos aos documentos eletrônicos, dados ou sistemas físicos e lógicos da VETZCO ou de terceiros; além de dificultar o acesso de outros usuários ao site e seus serviços através do consumo maciço dos recursos de computador através dos quais a VETZCO presta seus serviços.</li>
                            <li>Acessar as contas de e-mail de outros usuários ou áreas restritas dos sistemas de computador da VETZCO ou de terceiros e, se for o caso, extrair informações.</li>
                            <li>Violar os direitos de propriedade intelectual ou industrial, bem como violar a confidencialidade das informações da VETZCO ou de terceiros. Personificar qualquer outro usuário.</li>
                            <li>Reproduzir, copiar, distribuir, disponibilizar ou qualquer outra forma de comunicação pública, transformar ou modificar o conteúdo, a menos que a autorização do proprietário dos direitos correspondentes esteja disponível ou legalmente permitida.</li>
                            <li>Coletar dados para fins publicitários e enviar publicidade de qualquer tipo e/ou comunicações para vendas ou outros fins comerciais sem sua solicitação ou consentimento prévio.
                            </li>
                        </ul>
                        
                        <p style="margin-left:25px;">6.2.4. A inclusão de um hiperlink de sites de terceiros não implica, em qualquer caso, a existência de relações entre a VETZCO e o proprietário do site no qual está estabelecido, nem a aceitação e aprovação pela VETZCO de seu conteúdo ou serviços, em especial se relacionados com os perfis de profissionais ou estabelecimentos de saúde.</p>
                        <p style="margin-left:25px;">6.2.5 A VETZCO não se responsabiliza pelo uso que cada usuário dá aos materiais disponibilizados neste site ou pelas ações que realiza com base nisso.</p>

                    </div>
                    
                    <div class="terms-text">
                        <h3>7. TERMOS DE USO – USUÁRIO</h3>
                        <p>7.1 O Usuário tutor de pet poderá agendar uma consulta com o Profissional desejado ou clínica veterinária desejada, desde que as informações de contato dessa pessoa sejam verificadas pela VETZCO e/ou que o Profissional esteja cadastrado no Perfil Premium de serviços que incluem a disponibilização de agenda online.</p>
                        <p>7.2 O Usuário tutor de pet poderá:</p>
                        <ul>
                            <li>acessar o Perfil do médico veterinário, clínica veterinária, adestrador e/ou esteticista e acessar as informações relacionadas a esses profissionais, suas especialidades, opiniões, imagens, etc.</li>
                            <li>enviar avaliações e opiniões sobre Profissionais e Instituições;</li>
                            <li>entrar em contato com os Perfis de Profissionais verificados;</li>
                            <li>agendar, online, consultas presenciais com o médico-veterinário, adestrador ou
                                esteticista escolhido que dispor dessa funcionalidade em seu Perfil; e</li>
                            <li>denunciar abuso.</li>
                            
                        </ul>
                        <p>7.3. O serviço de notificação de novas informações e opiniões é ativado mediante a adição de uma opinião sobre o Perfil de um determinado Profissional, agendamento de uma consulta por meio de uma agenda online ou acesso ao Perfil de um determinado Profissional.</p>
                        <p>7.4. A VETZCO reserva-se o direito de suspender, temporariamente, a prestação dos Serviços durante a atualização e/ou reconstrução do Site, ou ainda, durante trabalhos de manutenção de sistemas.</p>
                        <p>7.5. A VETZCO presta serviços de informação sobre médicos-veterinários, com base em seus cadastros pessoais realizados ativamente pelo profissional, ou em dados públicos obtidos na rede ou nos Conselhos Profissionais.</p>
                        <p>7.6. A VETZCO não se responsabiliza pela constatação de qualquer diagnóstico, pois não se presta a indicar diagnóstico, sendo que apenas o médico-veterinário, através de consulta presencial, pode constatar diagnóstico através de análise clínica e de exames.</p>
                        <p>7.7. O usuário tutor de pet consente expressamente o tratamento de seus dados para o uso dos serviços da plataforma da VETZCO e autoriza a transmissão dos dados para os médicos-veterinários, com os quais venha a agendar consulta presencial, e/ou com os adestradores e/ou esteticistas com os quais venham a agendar o serviço.</p>
                        <p>7.8. Opiniões, avaliações e comentários na plataforma:</p>
                        <p style="margin-left:25px;">7.8.1. A VETZCO não detém obrigação de realizar o monitoramento de comentários e opiniões, não tendo qualquer obrigação ou responsabilidade de verificar a exatidão e/ou veracidade dos comentários ou opiniões atribuídas à experiência havida pelo tutor de pet.</p>
                        <p style="margin-left:25px;">7.8.2. Todavia, a VETZCO se reserva ao direito de editar, excluir ou adequar avaliações de acordo com seus próprios critérios, caso violem nossa política, sejam ofensivas, contrárias aos nossos Termos e Condições Gerais, à lei ou em cumprimento de uma ordem judicial, administrativa ou de autoridade competente.</p>
                        <p style="margin-left:25px;">7.8.3. Aquele que publicar uma opinião se responsabiliza inteiramente pelo seu conteúdo, por isso aconselha-se que o usuário tutor de pet seja cauteloso, honesto e sincero em suas opiniões, já que poderá responder por eventuais ações legais de um médico-veterinário, adestrador ou esteticista que se sentir lesado em razão de violação de direitos.</p>
                        <p style="margin-left:25px;">7.8.4. A VETZCO poderá vedar, editar ou solicitar a adequação de opiniões ou comentários nos seguintes casos:</p>
                        <p style="margin-left:55px;">a. Quando a opinião ou comentário não estiver relacionada com um agendamento realizado pela plataforma.</p>
                        <p style="margin-left:55px;">b. Quando a opinião for dada por pessoa que não traga sua identificação completa.</p>
                        <p style="margin-left:55px;">c. Quando a opinião ou comentário contiver linguagem inapropriada, vulgar, ofensiva ou vexatória.</p>
                        <p style="margin-left:55px;">d. Quando a opinião ou comentário violar a lei, direitos de terceiros, honra ou a liberdade profissional, que contenha frases que suscitem o terrorismo, crime organizado ou grupos organizados, propagação de ódio, conteúdo sexual, discriminatório de raça, etnia, nacionalidade, sexo, gênero, identidade de gênero, orientação sexual, religião, deficiências ou doenças.</p>
                        <p style="margin-left:55px;">e. Quando contiver propaganda, anúncio, spam ou similares.</p>
                        <p style="margin-left:55px;">f. Quando a opinião trouxer acusação de violação à lei ou ao ato técnico do
                            profissional, sugira negligência, erro médico, falha técnica, conduta criminosa. A VETZCO não é um órgão julgador da conduta médica-veterinária ou dos demais profissionais da área, e em razão de sua imparcialidade não publicará opiniões que tragam acusações em tal sentido, sugerindo que as mesmas reclamações sejam sempre direcionadas aos conselhos profissionais, autoridades e ao poder judiciário.</p>
                        <p style="margin-left:55px;">g. Quando a opinião não for clara ou compreensível.</p>
                        <p style="margin-left:55px;">h. Quando a opinião tratar de experiência de terceiro, em exceção daqueles
                            casos em que a pessoa seja responsável legal pelo animal.</p>
                        <p style="margin-left:55px;">i. Que não seja relacionada ao médico-veterinário, adestrador ou esteticista proprietário do perfil no qual a opinião está sendo deixada, ou seja, que seja sobre terceiros alheios à relação do usuário e médico-veterinário, adestrador ou esteticista.</p>
                        <p style="margin-left:55px;">j. Opiniões e avaliações em seus próprios perfis de modo a manipular opiniões, informações e classificações; e</p>
                        <p style="margin-left:55px;">k. Opiniões e comentários que sejam falsos.</p>
                        <p style="margin-left:25px;">7.8.5. A VETZCO terá o direito de exigir que, ao publicar uma opinião e/ou avaliação, o Usuário seja adicionalmente verificado, por exemplo, com o uso de uma conta no Facebook ou por meio de validação em outros dispositivos.</p>
                    </div>
                    
                    <div class="terms-text">
                        <h3>8. TERMOS DE USO - PERFIL BÁSICO E PREMIUM</h3>
                        <p>8.1. Para o cadastro do Perfil Básico e Premium de um médico-veterinário, adestrador ou esteticista, o usuário deverá fornecer informações básicas de cadastro, sendo necessário: primeiro nome e sobrenome, CRMV (no caso de médico-veterinário), endereço e detalhes de contato para o local onde os serviços são realizados e a especialização do Profissional.
                        </p>
                        <p>8.2. Para o cadastro do Perfil de uma clínica veterinária, o Usuário deverá fornecer informações básicas de cadastro, sendo necessário: nome da instituição, endereço e detalhes de contato.
                        </p>
                        <p>8.3. A VETZCO reserva-se ao direito exclusivo de inserir e editar informações relativas ao número de telefone e outros dados de contato do médico-veterinário, clínica veterinária, adestrador, esteticista. Outros dados importantes para a utilização da Plataforma poderão ser requeridos, sendo que o médico-veterinário, clínica veterinária, adestrador ou esteticista usuário do Perfil Básico e Premium se responsabiliza civil e criminalmente, inclusive perante terceiros, pela veracidade dos dados informados.
                        </p>
                        <p>8.4. Os campos de nome e sobrenome de um perfil não podem ser preenchidos com nenhuma outra informação além do primeiro nome e sobrenome de um profissional.
                        </p>
                        <p>8.5. Cada médico-veterinário, clínica veterinária, adestrador ou esteticista possui direito a apenas um Perfil, sendo vedada a criação de um Perfil comum para vários Profissionais/Instituições. Se verificada a existência de Perfis duplicados, a VETZCO se reserva ao direito de excluir a página. O Perfil de uma clínica veterinária deve se referir a um local físico de uma Instituição. Se uma clínica veterinária tem vários locais físicos, cada um deles deve ter um perfil separado.</p>
                        <p>8.6. É facultado ao(à) médico-veterinário, clínica veterinária, adestrador ou esteticista criar seu próprio Perfil ou confirmar informações encontradas em um perfil existente, sendo para tanto necessário o Cadastro no Site.
                        </p>
                        <p>8.7. O Perfil criado ou confirmado por um determinado Profissional será identificado como um "Perfil verificado", possibilitando a este:
                        </p>
                        <ul>
                            <li>editar informações sobre seu Perfil;</li>
                            <li>adicionar fotos; e</li>
                            <li>responder sob forma de comentário, as opiniões publicadas pelos Usuários.</li>
                        </ul>
                        <p>8.8. Um Perfil de uma clínica veterinária criada ou confirmada por um determinado Titular será identificado como um "Perfil verificado", o qual possibilitará a este:</p>
                        <ul>
                            <li>editar informação sobre a Instituição; e</li>
                            <li>adicionar o logotipo da Instituição.</li>
                        </ul>
                        <p>8.9. O Titular pode publicar apenas o logotipo da Instituição no seu Perfil (outras imagens são proibidas); consentindo com a divulgação e compartilhamento público do logotipo adicionado no Site. Se ao logotipo da Instituição tiver sido concedido proteção de marca registrada, o Proprietário dá o seu consentimento para uso do logotipo na medida necessária para que a VETZCO possa prestar os serviços contratados e concorda com seu compartilhamento público, sendo vedado adicionar logotipos que infrinjam a natureza profissional do Site.</p>
                        <p>8.10. É proibido publicar fotos de outras pessoas e quaisquer tipos de gráficos. Devido às características do formato digital, as fotografias podem ser retocadas, desde que se trate de uma correção global que melhore a qualidade da fotografia. Intervenções seletivas para adicionar ou remover elementos, combinar várias fotografias ou alterar a composição original de uma foto não são permitidas. Também é proibido publicar fotos com tons pornográficos ou que violem a natureza profissional do Site.</p>
                        <p>8.11. A imagem que não satisfizer os critérios acima poderá ser excluída pela VETZCO sem aviso prévio e sem a necessidade de informar o profissional sobre a exclusão.
                        </p>
                        <p>8.12. O Profissional concede à VETZCO uma licença não exclusiva, permanente e não paga para utilizar a fotografia através de campos de utilização, tais como, reprodução por meios analógicos ou digitais; memória do computador; redes de informática ou multimídia; circulação pública, disponibilizar o trabalho publicamente em um local e horário selecionados pela VETZCO; rastreio, difusão, reemissão e reprodução; arquivar a fotografia em bases de dados; e utilização da fotografia para a promoção da VETZCO. A remoção da Conta pelo Profissional não afetará a validade da referida licença.</p>
                        <p>8.13. Ao fornecer seus dados e realizar cadastro para uso dos serviços fornecidos pela plataforma VETZCO, gratuitos ou pagos, o Profissional ou Instituição autoriza o uso de seus dados pela plataforma, bem como a outras ferramentas e plataformas, ferramentas, aplicativos e similares, criados pela VETZCO ou por esta em parceria com outras empresas, para os mesmos fins a que se destina.</p>

                    </div>
                    <div class="terms-text">
                        <h3>9. DA EXCLUSÃO DE GARANTIAS E RESPONSABILIDADE NO ACESSO E USO</h3>
                        <p>9.1. O conteúdo deste site é de natureza geral e tem um propósito puramente informativo, sem garantir totalmente o acesso a todo o conteúdo, sua completude, correção, validade ou pontualidade, nem sua adequação ou utilidade para um propósito específico.
                            </p>
                        <p>9.2. A VETZCO não é responsável por danos de qualquer tipo decorrentes de:</p>
                        <ul>
                            <li>Impossibilidade de acesso ao site ou a falta de veracidade, exatidão, completude e/ou atualidade dos conteúdos, bem como a existência de defeitos e defeitos de todos os tipos de conteúdo transmitido, divulgado, armazenado, disponibilizado, acessado através do site ou dos serviços oferecidos.</li>
                            <li>Presença de vírus ou outros elementos no conteúdo que possam causar alterações em sistemas de computador, documentos eletrônicos ou dados do usuário.</li>
                            <li>Descumprimento das leis, boa-fé, ordem pública, do presente instrumento, em decorrência do uso indevido do site. Em particular, e por exemplo, a VETZCO não é responsável pelas ações de terceiros que violam direitos de propriedade intelectual e industrial, segredos de negócios, direitos à honra, privacidade pessoal e familiar e autoimagem, bem como regulamentos sobre concorrência desleal e publicidade ilícita, ou tampouco pela prestação dos serviços veterinários, de adestramento ou esteticista agendados por meio da plataforma.</li>
                        </ul>
                        <p>9.3. Da mesma forma, a VETZCO não detém qualquer responsabilidade pelas informações que estão fora deste site e não são gerenciadas diretamente pelo nosso webmaster. A função dos links que aparecem neste site é exclusivamente informar o usuário sobre a existência de outras fontes capazes de expandir o conteúdo oferecido por este site. A VETZCO não garante ou se responsabiliza pela operação ou acessibilidade dos sites vinculados; nem sugere, convida ou recomenda a visita a eles, de modo que nem será responsável pelo resultado obtido. A VETZCO não é responsável pela inclusão de hiperlinks por terceiros ou de qualquer conteúdo que não seja gerado ou replicado por ela diretamente.</p>
                        <p>9.4.
                            É de exclusiva responsabilidade do Usuário do Perfil Básico e Premium:</p>
                            <ul>
                                <li>manter o ambiente de seus computadores e demais dispositivos de acesso ao Site seguros, valendo-se de ferramentas específicas para tanto, tais como antivírus, firewall, entre outras, de modo a contribuir para a prevenção de riscos eletrônicos;</li>
                                <li>equipar-se e responsabilizar-se pelos computadores e dispositivos de hardware necessários para o acesso ao Site, bem como pelo acesso desses computadores e dispositivos à internet;</li>
                                <li>o uso, a guarda, a manutenção e o sigilo de todas as senhas e logins que lhe forem cedidos para acesso ao Site, garantindo à VETZCO que não compartilhará as senhas com quaisquer terceiros, exceto seus empregados autorizados, que as utilizarão somente em seu benefício e nos termos aqui previstos; e</li>
                                <li>a utilização de informações verdadeiras em relação às atividades exercidas, ao conteúdo e de seus dados pessoais, sob pena de serem aplicadas as sanções legais cabíveis além daquelas previstas neste Termo de Uso.</li>

                            </ul>

                    </div>
                    <div class="terms-text">
                        <h3>10. DA PROTEÇÃO DE DADOS</h3>
                        <p>10.1. A disponibilização de informações de cunho pessoal e imagens do Usuário à VETZCO visam o funcionamento das ferramentas que compõem o Site, não constituindo uso indevido de imagem, não podendo a VETZCO ser responsabilizada pela sua divulgação quando no contexto de uso na plataforma ou da prestação de serviços.</p>
                        <p>10.2. É de responsabilidade da VETZCO proteger e conservar todos os dados pessoais e senhas dos Usuários, Profissionais e Instituições, de modo que as informações fornecidas estão sujeitas a medidas de segurança para impedir o acesso, o uso e a divulgação não autorizados.</p>
                        <p>10.3. A VETZCO não identifica o Usuário através de seu número de telefone, sendo o dado tratado como dado pessoal para fins legais.</p>
                        <p>10.4. A VETZCO garantirá que os Usuários e Profissionais tenham acesso aos seus próprios dados e possam corrigi-los, editá-los e complementá-los. A VETZCO não faz uso de dados sensíveis de tutores de pet que receba, ou que sejam incluídos em seus sistemas e demais funcionalidades, para divulgação de qualquer forma, mantendo o sigilo protegido pela legislação brasileira, salvo nos casos em que haja ordem judicial.
                        </p>
                        <p>10.5. Mais informações podem ser obtidas em nossa Política de Privacidade.
                        </p>

                    </div>
                    <div class="terms-text">
                        <h3>11. PROCEDIMENTO EM CASO DE REALIZAÇÃO DE ATIVIDADES DE NATUREZA ILÍCITA</h3>
                        <p>11.1. Caso qualquer usuário ou terceiro considere que existem fatos ou circunstâncias que revelam a ilegalidade do uso de qualquer conteúdo e/ou o desempenho de qualquer atividade nas páginas da Web inclusas ou acessíveis através do site, deve enviar uma notificação à VETZCO identificando-se adequadamente e especificando as supostas violações.</p>
                        
                    </div>
                    <div class="terms-text">
                        <h3>12. DA POLÍTICA DE PRIVACIDADE</h3>
                        <p>12.1. Além do presente Termo, o usuário deverá consentir com as disposições contidas na respectiva Política de Privacidade a ser apresentada a todos os interessados dentro da interface da plataforma.</p>
                        
                    </div>
                    <div class="terms-text">
                        <h3>13. LEI APLICÁVEL E DO FORO</h3>
                        <p>13.1. As condições atuais serão regidas pela legislação brasileira vigente e o idioma aplicado em sua plataforma e demais comunicações será o português.</p>
                        <p>13.2. Os eventuais litígios deverão ser apresentados no foro da comarca em que se encontra a sede da VETZCO.</p>
                    </div>
                    <div class="terms-text">
                        <h3>14. DO SUPORTE E DA COMUNICAÇÃO</h3>
                        <p>14.1. O Usuário que tenha problemas com a utilização ou apresente dificuldade para utilizar o Site deverá entrar em contato com o suporte da VETZCO no prazo de até 21 (vinte e um) dias após o evento, através do site: https://materiais.vetzco.com.br/fale-conosco. A partir da formalização da comunicação, a VETZCO trabalhará para solucionar a situação ou esclarecer a dúvida do Usuário.
                        </p>
                        <p>14.2. Para entrar em contato conosco, fornecemos diferentes meios que detalhamos abaixo:</p>
                        <ul>
                            <li>Site: https://materiais.vetzco.com.br/fale-conosco</li>
                            <li>Endereço postal: Rua General Venâncio Flores, 100, apt. 402, Leblon, Rio de Janeiro/RJ e CEP 22.441-090.</li>
                            <li>Todas as notificações e comunicações entre usuários e a VETZCO serão consideradas eficazes, para todos os efeitos, quando feitas por qualquer meio detalhado acima.</li>
                        </ul>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</div>		
<!-- /Page Content -->