<div class="page-wrapper">

    <div class="content container-fluid">


        <form [formGroup]="adestradorForm" (ngSubmit)="salvar()">
            <!-- Basic Information -->


            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Informações</h4>
                    <div class="row form-row">
                        <div class="col-md-2">
                            <div class="row form-row">
                                <div class="row form-row">
                                    <div class="col-md-12 mb-3">
                                        <label class="hoverable" for="fileInput">
                        <img class="img-avatar"
                          [src]="url ? url : 'https://img.freepik.com/free-vector/man-reading-book-with-his-dog_33070-4812.jpg?size=338&ext=jpg'">
                        <div class="hover-text">Escolha sua Foto</div>
                        <div class="background"></div>
                      </label>
                                        <br />
                                        <input id="fileInput" type='file' (change)="onFileChanged($event)">
                                        <button *ngIf="url" (click)="delete()">Excluir foto</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 ml-5">
                            <div class="row form-row ">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>RG<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" formControlName="rg" #rg maxlength="10" style="text-transform: uppercase;">
                                        <app-mensagem *ngIf="
                            adestradorForm.get('rg')?.errors?.required &&
                            adestradorForm.get('rg')?.touched" mensagem="RG é obrigatório">
                                        </app-mensagem>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label>UF<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" formControlName="uf" maxlength="2" minlength="2" style="text-transform: uppercase;">
                                        <app-mensagem *ngIf="
                            adestradorForm.get('uf')?.errors?.required &&
                            adestradorForm.get('uf')?.touched" mensagem="UF é obrigatório">
                                        </app-mensagem>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label>Nome<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" formControlName="nome" [readonly]="!rg.value">
                                        <app-mensagem *ngIf="
                            adestradorForm.get('nome')?.errors?.required &&
                            adestradorForm.get('nome')?.touched
                            " mensagem="O nome é obrigatório"></app-mensagem>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Especialidade</label>
                                        <ng-select [multiple]="true" formControlName="especialidades">
                                            <ng-option *ngFor="let espc of listaEspecialidade" [value]="espc._id">{{espc.nome}}</ng-option>
                                            <!--<ng-option [value]="'custom'">Custom</ng-option> -->
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-row">
                                <!--<div class="col-md-3">
                    <div class="form-group mb-0">
                      <div class="status-toggle">
                        <input type="checkbox" id="isStatus" name="status" formControlName="status" class="check" checked>
                        Status
                        <label for="isStatus" class="checktoggle">Status</label>
                      </div>
                    </div>
                  </div> -->
                                <div class="col-md-6">
                                    <div class="form-group mb-0">
                                        <div id="isEstabelecimento_select">
                                            <div class="status-toggle">
                                                <input type="checkbox" id="isEstabelecimento" name="checkIsEstabelecimento" #checkIsEstabelecimento [checked]="isEstabelecimento" class="check"> Atende em Estabelecimento
                                                <label for="isEstabelecimento" class="checktoggle">Atende em Estabelecimento</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col-md-3">
                    <div id="customIsPlanoSaude">
                      <div class="form-group">
                        <div class="status-toggle">
                          <input type="checkbox" id="isPlanoSaude" class="check" name="atendePlano"
                            formControlName="atendePlano">Plano de Saúde
                          <label for="isPlanoSaude" class="checktoggle">Plano de Saúde</label>
                        </div>
                      </div>
                    </div>
                  </div> -->
                                <div class="col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label>Sobre <span class="text-danger">*</span></label>
                                        <textarea id="sobre" class="form-control service-desc" name="sobre" formControlName="sobre"></textarea>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>

                </div>
            </div>
            <!-- /Basic Information -->
            <!-- Information formação-->
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Formação</h4>
                    <div class="formacao-info" formArrayName="formacoes" *ngFor="let formacao of adestradorForm.get('formacoes')['controls']; let i = index;">
                        <div class="row form-row" [formGroupName]="i">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Instituição<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" formControlName="nomeInstituicao" #nomeInstituicao>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Curso<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" formControlName="curso">
                                </div>
                            </div>
                            <div class="col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label>Início <span class="text-danger">*</span></label>
                                    <select class="form-control" formControlName="anoInicio">
                      <option></option>
                      <option *ngFor="let ano of listaAnos">{{ano}}</option>
                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label>Termino <span class="text-danger">*</span></label>
                                    <select id="index" class="form-control" formControlName="anoFim">
                      <option value="null" selected="selected">Em curso</option>
                      <option *ngFor="let ano of listaAnos">{{ano}}</option>
                    </select>
                                </div>
                            </div>
                            <div class="col-1 col-md-1 col-lg-1" *ngIf="!isAddMode || i != 0">
                                <label class="d-md-block d-sm-none d-none">&nbsp;</label>
                                <a href="javascript:void(0);" (click)="removeFormacao(i)" class="btn btn-danger trash"><i
                      class="far fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="add-more">
                        <a href="javascript:void(0);" (click)="addFormacao()" class="add-formacao"><i class="fa fa-plus-circle"></i>
                Adicionar</a>
                    </div>
                </div>
            </div>
            <!-- /Basic formação -->
            <!-- Information Experiencia-->
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Experiencia</h4>
                    <div class="formacao-info" formArrayName="experiencias" *ngFor="let experiencia of adestradorForm.get('experiencias')['controls']; let i = index;">
                        <div class="row form-row" [formGroupName]="i">
                            <div class="col-md-7">
                                <div class="form-group">
                                    <label>Nome da empresa<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" formControlName="nomeEstabelecimento">
                                </div>
                            </div>
                            <div class="col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label>Início <span class="text-danger">*</span></label>
                                    <select class="form-control" formControlName="anoInicio">
                      <option></option>
                      <option *ngFor="let ano of listaAnos">{{ano}}</option>
                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label>Termino <span class="text-danger">*</span></label>
                                    <select class="form-control" formControlName="anoFim">
                      <option [ngValue]=null>Em curso</option>
                      <option *ngFor="let ano of listaAnos">{{ano}}</option>
                    </select>
                                </div>
                            </div>
                            <div class="col-1 col-md-1 col-lg-1" *ngIf="!isAddMode || i != 0">
                                <label class="d-md-block d-sm-none d-none">&nbsp;</label>
                                <a href="javascript:void(0);" (click)="removeExperiencia(i)" class="btn btn-danger trash"><i
                      class="far fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="add-more">
                        <a href="javascript:void(0);" (click)="addExperiencia()" class="add-formacao"><i
                  class="fa fa-plus-circle"></i> Adicionar</a>
                    </div>
                </div>
            </div>
            <!-- /Basic experiencia -->
            <!-- Information conquistas-->
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Conquista</h4>
                    <div class="formacao-info" formArrayName="conquistas" *ngFor="let conquista of adestradorForm.get('conquistas')['controls']; let i = index;">
                        <div class="row form-row" [formGroupName]="i">
                            <div class="col-md-7">
                                <div class="form-group">
                                    <label>Nome<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" formControlName="nome">
                                </div>
                            </div>
                            <div class="col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label>Mês <span class="text-danger">*</span></label>
                                    <select class="form-control" formControlName="mes">
                      <option>Em curso</option>
                      <option *ngFor="let mes of meses" [ngValue]="mes.id">{{mes.abreviado}} </option>
                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label>Termino <span class="text-danger">*</span></label>
                                    <select class="form-control" formControlName="ano">
                      <option value="">Em curso</option>
                      <option *ngFor="let ano of listaAnos">{{ano}}</option>
                    </select>
                                </div>
                            </div>
                            <div class="col-md-11 col-lg-11">
                                <div class="form-group">
                                    <label>Descrição<span class="text-danger">*</span></label>
                                    <textarea id="descricao" class="form-control service-desc" name="descricao" formControlName="descricao"></textarea>
                                </div>
                            </div>
                            <div class="col-1 col-md-1 col-lg-1" *ngIf="!isAddMode || i >= 0">
                                <label class="d-md-block d-sm-none d-none">&nbsp;</label>
                                <a href="javascript:void(0);" (click)="removeConquista(i)" class="btn btn-danger trash"><i
                      class="far fa-trash-alt"></i></a>
                            </div>


                        </div>
                    </div>
                    <div class="add-more">
                        <a href="javascript:void(0);" (click)="addConquista()" class="add-formacao"><i
                  class="fa fa-plus-circle"></i> Adicionar</a>
                    </div>
                </div>
            </div>
            <!-- /Basic formação -->

            <!-- Contato -->
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Contato</h4>
                    <div class="row form-row" formGroupName="contato">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nome<span class="text-danger">* </span></label>
                                <input type="text" class="form-control" formControlName="nome">
                                <app-mensagem *ngIf="
                        adestradorForm.get('contato')?.get('nome')?.errors?.required &&
                        adestradorForm.get('contato')?.get('nome')?.touched" mensagem="Nome é obrigatório">
                                </app-mensagem>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email <span class="text-danger">*</span></label>
                                <input type="email" class="form-control" formControlName="email">
                                <app-mensagem *ngIf="
                      adestradorForm.get('contato')?.get('email')?.errors?.required &&
                      adestradorForm.get('contato')?.get('email')?.touched" mensagem="E-mail é obrigatório">
                                </app-mensagem>
                                <app-mensagem *ngIf="
                    adestradorForm.get('contato')?.get('email')?.errors?.email &&
                    adestradorForm.get('contato')?.get('email')?.touched
                    " mensagem="E-mail no formato incorreto">
                                </app-mensagem>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Telefone (Número de telefone com 8)</label>
                                <input type="text" class="form-control" formControlName="telefone" mask="(00) 0000-0000" placeholder="(00) 0000-0000">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Celular (Número de telefone com 9)</label>
                                <input type="text" class="form-control" formControlName="celular" mask="(00) 00000-0000" placeholder="(00) 00000-0000">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Contato-->
            <!-- Endereço -->
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Endereço</h4>
                    <div class="row form-row" formGroupName="endereco">
                        <div class="col-md-7">
                            <div class="row form-row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>CEP<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" formControlName="cep" mask="00000-000">
                                        <app-mensagem *ngIf="
                        adestradorForm.get('endereco')?.get('cep')?.errors?.required &&
                        adestradorForm.get('endereco')?.get('cep')?.touched" mensagem="CEP é obrigatório">
                                        </app-mensagem>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label></label>
                                        <div class="btn-search">
                                            <button type="button" class="btn btn-block" style="margin-top: 7px; width: 45px;" (click)="buscarCEP(adestradorForm.get('endereco')?.get('cep')?.value)"><i
                            class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Logradouro<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" formControlName="logradouro" readonly>
                                        <app-mensagem *ngIf="
                        adestradorForm.get('endereco')?.get('logradouro')?.errors?.required &&
                        adestradorForm.get('endereco')?.get('logradouro')?.touched" mensagem="Logradouro é obrigatório">
                                        </app-mensagem>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>N°<span class="text-danger">*</span></label>
                                        <input [readonly]="adestradorForm.get('endereco')?.get('logradouro').value == null" (change)="buscarMap()" type="text" class="form-control" formControlName="numero">
                                        <app-mensagem *ngIf="
                        adestradorForm.get('endereco')?.get('numero')?.errors?.required &&
                        adestradorForm.get('endereco')?.get('numero')?.touched" mensagem="Numero é obrigatório">
                                        </app-mensagem>

                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Complemento<span class="text-danger"></span></label>
                                        <input type="text" class="form-control" formControlName="complemento">
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label>Bairro<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" formControlName="bairro" readonly>
                                        <app-mensagem *ngIf="
                        adestradorForm.get('endereco')?.get('bairro')?.errors?.required &&
                        adestradorForm.get('endereco')?.get('bairro')?.touched" mensagem="Bairro é obrigatório">
                                        </app-mensagem>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Município<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" formControlName="municipio" readonly>
                                        <app-mensagem *ngIf="
                        adestradorForm.get('endereco')?.get('municipio')?.errors?.required &&
                        adestradorForm.get('endereco')?.get('municipio')?.touched" mensagem="Nunicipio é obrigatório">
                                        </app-mensagem>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Estado<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" formControlName="estado" readonly>
                                        <app-mensagem *ngIf="
                        adestradorForm.get('endereco')?.get('estado')?.errors?.required &&
                        adestradorForm.get('endereco')?.get('estado')?.touched" mensagem="Estado é obrigatório">
                                        </app-mensagem>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row form-row">
                                <div class="col-md-12">
                                    <agm-map *ngIf="showMap" [latitude]="lat" [zoom]="15" [longitude]="lng">
                                        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                                    </agm-map>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Contato -->
            <div class="card" id="customInfoadestrador" [hidden]="!checkIsEstabelecimento.checked">
                <div class="card-body">
                    <h4 class="card-title">Estabelecimento</h4>
                    <div class="estabelecimento-info" formArrayName="estabelecimentos" *ngFor="let estabelecimento of adestradorForm.get('estabelecimentos')['controls']; let i = index;">
                        <div class="row form-row adestrador-cont" [formGroupName]="i">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>CNPJ<span class="text-danger">*</span></label>
                                    <input #cnpj type="text" class="form-control" formControlName="cnpj" placeholder="CNPJ" mask="00.000.000/0000-00" (change)="findEstab(i)">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>Nome<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" formControlName="nome" placeholder="Nome" [readonly]="!cnpj.value">
                                </div>
                            </div>


                            <div class="col-12 col-md-2 col-lg-1" *ngIf="!isAddMode || i != 0">
                                <label class="d-md-block d-sm-none d-none">&nbsp;</label>
                                <a href="javascript:void(0);" (click)="removeEstabelecimento(i)" class="btn btn-danger trash"><i
                      class="far fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="add-more">
                        <a href="javascript:void(0);" (click)="addEstabelecimento()" class="add-estabelecimento"><i
                  class="fa fa-plus-circle"></i> Add More</a>
                    </div>
                </div>
            </div>
            <!-- /Contato-->
            <div class="card">
                <div class="card-body">
                    <div class="row form-row">
                        <div class="submit-section submit-btn-bottom">
                            <button type="submit" [class]="adestradorForm.invalid ? 'btn submit-btn btn-light' : 'btn submit-btn btn-primary'">Salvar</button>
                            <button type="submit" *ngIf="userLogged.isAdmin" [routerLink]="'/admin/dashboard-admin/'" class="btn btn-success submit-btn">Voltar</button>
                            <button type="submit" *ngIf="!userLogged.isAdmin" [routerLink]="'/admin/dashboard-adestrador'" class="btn btn-success submit-btn">Voltar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>