<!--Top Header -->
<div class="header-top" *ngIf="headerTop">
    <div class="left-top ">
        <ul>
            <li><i class="fas fa-map-marker-alt top-icon"></i>123, washington street, uk</li>
            <li><i class="fas fa-phone-volume top-icon"></i>+19 123-456-7890</li>
            <li><i class="fas fa-envelope top-icon"></i>mail@yourdomain.com</li>
        </ul>
    </div>
    <div class="right-top ">
        <ul>
            <li><i class="fab fa-facebook-f top-icons"></i>
            </li>
            <li><i class="fab fa-instagram top-icons"></i>
            </li>
            <li><i class="fab fa-linkedin-in top-icons"></i>
            </li>
            <li><i class="fab fa-twitter top-icons"></i>
            </li>
        </ul>
    </div>
</div>
<!--/Top Header -->
<header class="header">
    <nav class="navbar navbar-expand-lg header-nav no-border" *ngIf="user">
        <div class="navbar-header">
            <a id="mobile_btn" *ngIf="!isTutor" href="javascript:void(0);">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>
            <a href="javascript:void(0)"  *ngIf="isTutor" class="dropdown-toggle nav-link tutorIs" data-toggle="dropdown" id="bar-tutor">
                <span class="user-img">
                    <img class="rounded-circle" [src]="url ? url : 'assets/img/doctors/doctor-thumb-02.jpg'" width="31" alt="{{user.login}}">
                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" style="right:auto;left:0;margin-top:-10px;">
                <div class="user-header">
                    <div class="avatar avatar-sm">
                        <img [src]="url ? url : 'assets/img/doctors/doctor-thumb-02.jpg'" alt="User Image" class="avatar-img rounded-circle">
                    </div>
                    <div class="user-text">
                        <h6>{{user.login}}</h6>
                        <p class="text-muted mb-0" *ngIf="user.isAdmin">Administrador</p>
                        <p class="text-muted mb-0" *ngIf="!user.isAdmin">Usuário</p>
                    </div>
                </div>
                <a class="dropdown-item"  *ngIf="!isTutor"  [routerLink]="'/admin'" style="cursor: pointer;display:block;"> Dashboard</a>
                <a class="dropdown-item" (click)="clickLogout()" style=" cursor: pointer; ">Sair</a>
            </div>
            <a (click)="home()" class="navbar-brand logo">
                <img src="assets/img/logo.png" class="img-fluid" alt="Logo" *ngIf="comlogo">
                <img src="assets/img/footer-logo.png" class="img-fluid" alt="Logo" *ngIf="whitelogo">
            </a>
        </div>
        <div class="main-menu-wrapper">
            <div class="menu-header">
                <a class="menu-logo">
                    <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
                </a>
                <a id="menu_close" class="menu-close" href="javascript:void(0);">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <ul class="main-nav">
                <li id="bar-logado">
                    
                        <span class="avatar avatar-sm"><img [src]="url ? url : 'assets/img/doctors/doctor-thumb-02.jpg'" style="margin: 3px 0 3px 10px;float:left;" alt="User Image" class="avatar-img rounded-circle"></span><span style="float:right;color:#ffffff;margin:10px 20px 0 0;">{{user.login}}</span> 
                   
                </li>
                <li class="has-submenu" style="cursor: pointer;">
                    <a [routerLink]="'home'" href="javascript:void(0);">Home </a>
                    
                </li>
                <li>
                    <a class="dropdown-item dash" *ngIf="!isTutor" [routerLink]="'/admin'" style="cursor: pointer;">Dashboard</a>
                </li>
                <li class="login-link">
                    <a class="nav-link header-login" (click)="clickLogout()"><i class="fas fa-sign-out-alt"></i> Sair </a>
                </li>
            </ul>

        </div>    
        <ul class="nav header-navbar-rht">
            <li class="nav-item contact-item">
                <div class="header-contact-img">
                    <i class="fas fa-phone-alt"></i>					
                </div>
                <div class="header-contact-detail">
                    <p class="contact-info-header">Contato: 21 99770-1809</p>
                </div>
            </li>
            <!-- User Menu -->
            <li class="nav-item dropdown has-arrow logged-item" *ngIf="user">
                <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    <span class="user-img">
                        <img class="rounded-circle"
                        [src]="url ? url : 'assets/img/doctors/doctor-thumb-02.jpg'" alt={{user.nome}} width="31" >
                        
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" style="right:0;left:auto;">
                    <div class="user-header">
                        <div class="avatar avatar-sm">
                            <img [src]="url ? url : 'assets/img/doctors/doctor-thumb-02.jpg'" alt={{user.nome}} class="avatar-img rounded-circle">
                        </div>
                        <div class="user-text">
                            <h6>{{user.login}}</h6>
                            <p class="text-muted mb-0" *ngIf="user.isAdmin">Administrador</p>
                            <p class="text-muted mb-0" *ngIf="!user.isAdmin">Usuário</p>
                        </div>
                    </div>
                    <a class="dropdown-item" *ngIf="!isTutor" [routerLink]="'/admin'" style="cursor: pointer;">Dashboard</a>
                    <a class="dropdown-item" (click)="clickLogout()" style=" cursor: pointer; ">Sair</a>
                </div>
            </li>
            <!--<div *ngIf="user?.role==1 ">
                <ul class="main-nav " [ngClass]="[base==='home-seven' ? 'white-font' : '' ] ">

                    <li><a [routerLink]=" 'veterinario' ">Meu Perfil</a></li>
                    <li><a [routerLink]=" 'veterinario' ">Meus Pacientes</a></li>
                    <li><a [routerLink]=" 'veterinario' ">Agendamentos</a></li>
                    <li><a [routerLink]=" '/' " (click)="sair() ">Sair</a></li>
                </ul>
                
                <li class="nav-item dropdown has-arrow logged-item " *ngIf="auth ">
                    <a href="javascript:void(0) " class="dropdown-toggle nav-link " data-toggle="dropdown ">
                        <span class="user-img ">
                            <img class="rounded-circle " [src]="url ? url : 'assets/img/doctors/doctor-thumb-02.jpg'" alt={{user.nome}} width="31 ">
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right " style="right:0;left:auto; ">
                        <div class="user-header ">
                            <div class="avatar avatar-sm ">
                                <img [src]="url ? url : 'assets/img/doctors/doctor-thumb-02.jpg'" alt={{user.nome}} class="avatar-img rounded-circle ">
                            </div>
                            <div class="user-text ">
                                <h6>{{user.nome}}</h6>
                                <p class="text-muted mb-0 " *ngIf="!isPatient ">Doctor</p>
                                <p class="text-muted mb-0 " *ngIf="isPatient ">Patient</p>
                            </div>
                        </div>
                        <a class="dropdown-item " *ngIf="!isPatient " [routerLink]=" '/doctor/dashboard' " style="cursor: pointer; ">Dashboard</a>
                        <a class="dropdown-item " *ngIf="!isPatient " [routerLink]=" '/doctor/settings' " style="cursor: pointer; ">Profile Settings</a>
                        <a class="dropdown-item " *ngIf="isPatient " [routerLink]=" '/patients/dashboard' " style="cursor: pointer; ">Dashboard</a>
                        <a class="dropdown-item " *ngIf="isPatient " [routerLink]=" '/patients/settings' " style="cursor: pointer; ">Profile Settings</a>
                        <a class="dropdown-item " (click)="logout() " style="cursor: pointer; ">Logout</a>
                    </div>
                </li>

            </div>

            <div *ngIf="user?.role==2 ">
                <ul class="main-nav " [ngClass]="[base==='home-seven' ? 'white-font' : '' ] ">

                    <li><a [routerLink]=" 'estabelecimento' ">Meu Estabelecimento</a></li>
                    <li><a [routerLink]=" 'estabelecimento' ">Consultas em minha clinica</a></li>
                    <li><a [routerLink]=" '/' " (click)="sair() ">Sair</a></li>
                </ul> 
                <li class="nav-item dropdown has-arrow logged-item " *ngIf="auth ">
                    <a href="javascript:void(0) " class="dropdown-toggle nav-link " data-toggle="dropdown ">
                        <span class="user-img ">
                            <img class="rounded-circle " [src]="url ? url : 'assets/img/doctors/doctor-thumb-02.jpg'" alt={{user.nome}} width="31 ">
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right " style="right:0;left:auto; ">
                        <div class="user-header ">
                            <div class="avatar avatar-sm ">
                                <img [src]="url ? url : 'assets/img/doctors/doctor-thumb-02.jpg'" alt={{user.nome}} class="avatar-img rounded-circle ">
                            </div>
                            <div class="user-text ">
                                <h6>Darren Elder</h6>
                                <p class="text-muted mb-0 " *ngIf="!isPatient ">Doctor</p>
                                <p class="text-muted mb-0 " *ngIf="isPatient ">Patient</p>
                            </div>
                        </div>
                        <a class="dropdown-item " *ngIf="!isPatient " [routerLink]=" '/doctor/dashboard' " style="cursor: pointer; ">Dashboard</a>
                        <a class="dropdown-item " *ngIf="!isPatient " [routerLink]=" '/doctor/settings' " style="cursor: pointer; ">Profile Settings</a>
                        <a class="dropdown-item " *ngIf="isPatient " [routerLink]=" '/patients/dashboard' " style="cursor: pointer; ">Dashboard</a>
                        <a class="dropdown-item " *ngIf="isPatient " [routerLink]=" '/patients/settings' " style="cursor: pointer; ">Profile Settings</a>
                        <a class="dropdown-item " (click)="logout() " style="cursor: pointer; ">Logout</a>
                    </div>
                </li>
            </div>

            <div *ngIf="user?.role==0 ">
                <ul class="main-nav " [ngClass]="[base==='home-seven' ? 'white-font' : '' ] ">
                  <li><a [routerLink]=" '/' " (click)="sair() ">Sair</a></li>
                </ul> 
                <li class="nav-item dropdown has-arrow logged-item " *ngIf="auth ">
                    <a href="javascript:void(0) " class="dropdown-toggle nav-link " data-toggle="dropdown ">
                        <span class="user-img ">
                            <img class="rounded-circle " [src]="url ? url : 'assets/img/doctors/doctor-thumb-02.jpg'" alt={{user.nome}} width="31 ">
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right " style="right:0;left:auto; ">
                        <div class="user-header ">
                            <div class="avatar avatar-sm ">
                                <img [src]="url ? url : 'assets/img/doctors/doctor-thumb-02.jpg'" alt={{user.nome}} class="avatar-img rounded-circle ">
                            </div>
                            <div class="user-text ">
                                <h6>Darren Elder</h6>
                                <p class="text-muted mb-0 " *ngIf="!isPatient ">Doctor</p>
                                <p class="text-muted mb-0 " *ngIf="isPatient ">Patient</p>
                            </div>
                        </div>
                        <a class="dropdown-item " *ngIf="!isPatient " [routerLink]=" '/doctor/dashboard' " style="cursor: pointer; ">Dashboard</a>
                        <a class="dropdown-item " *ngIf="!isPatient " [routerLink]=" '/doctor/settings' " style="cursor: pointer; ">Profile Settings</a>
                        <a class="dropdown-item " *ngIf="isPatient " [routerLink]=" '/patients/dashboard' " style="cursor: pointer; ">Dashboard</a>
                        <a class="dropdown-item " *ngIf="isPatient " [routerLink]=" '/patients/settings' " style="cursor: pointer; ">Profile Settings</a>
                        <a class="dropdown-item " (click)="logout() " style="cursor: pointer; ">Logout</a>
                    </div>
                </li>
            </div>

            <div *ngIf="user?.role || user?.role==0 ">

            </div>-->
            <!-- /User Menu -->
        </ul>
        
        
    </nav>
    <nav class="navbar navbar-expand-lg header-nav no-border" *ngIf="!user && !auth">
        <div class="navbar-header">
            <a id="mobile_btn"  href="javascript:void(0);">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>
            <a (click)="home()" class="navbar-brand logo">
                <img src="assets/img/logo.png" class="img-fluid" alt="Logo" *ngIf="comlogo">
                <img src="assets/img/footer-logo.png" class="img-fluid" alt="Logo" *ngIf="whitelogo">
            </a>
        </div>
        <div class="main-menu-wrapper">
            <div class="menu-header">
                <a class="menu-logo">
                    <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
                </a>
                <a id="menu_close" class="menu-close" href="javascript:void(0);">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <ul class="main-nav">
                <li class="has-submenu" style="cursor: pointer;">
                    <a [routerLink]="'home'" href="javascript:void(0);">Home </a>
                    
                </li>
                <li class="login-link" *ngIf="!user" >
                    <a class="nav-link header-login" [routerLink]="'login'"><i class="fas fa-user-circle"></i> Login / Inscreva-se </a>
                </li>
                <li class="login-link">
                    <a class="nav-link header-login" (click)="clickLogout()"><i class="fas fa-sign-out-alt"></i> Sair </a>
                </li>
            </ul>

        </div>    
        <ul class="nav header-navbar-rht">
            <li class="nav-item contact-item">
                <div class="header-contact-img">
                    <i class="fas fa-phone-alt"></i>					
                </div>
                <div class="header-contact-detail">
                    <p class="contact-info-header">Contato: 21 99770-1809</p>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link header-login white-bg" [routerLink]="'login'"><i class="fas fa-user-circle mr-2"></i>Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link header-login" [routerLink]="'cadastro'"><i class="fas fa-lock mr-2"></i>Inscreva-se</a>
            </li>
            

        </ul>
        
        
    </nav>
</header>