<!--Top Header -->
<div class="header-top" *ngIf="headerTop">
    <div class="left-top ">
        <ul>
            <li><i class="fas fa-map-marker-alt top-icon"></i>123, washington street, uk</li>
            <li><i class="fas fa-phone-volume top-icon"></i>+19 123-456-7890</li>
            <li><i class="fas fa-envelope top-icon"></i>mail@yourdomain.com</li>
        </ul>
    </div>
    <div class="right-top ">
        <ul>
            <li><i class="fab fa-facebook-f top-icons"></i>
            </li>
            <li><i class="fab fa-instagram top-icons"></i>
            </li>
            <li><i class="fab fa-linkedin-in top-icons"></i>
            </li>
            <li><i class="fab fa-twitter top-icons"></i>
            </li>
        </ul>
    </div>
</div>
<!--/Top Header -->
<header class="header">
    <nav class="navbar navbar-expand-lg header-nav no-border">
        <div class="navbar-header">
            <a id="mobile_btn" href="javascript:void(0);">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>
            <a (click)="home()" class="navbar-brand logo">
                <img src="assets/img/logo.png" class="img-fluid" alt="Logo" *ngIf="comlogo">
                <img src="assets/img/footer-logo.png" class="img-fluid" alt="Logo" *ngIf="whitelogo">
            </a>
        </div>

          <div class="main-menu-wrapper" *ngIf="menuTopLogin">
            <div class="menu-header">
                <a class="menu-logo">
                    <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
                </a>
                <a id="menu_close" class="menu-close" href="javascript:void(0);">
                    <i class="fas fa-times"></i>
                </a>
            </div>


            <div *ngIf="user?.role == 1">
                <ul class="main-nav" [ngClass]="[base === 'home-seven' ? 'white-font' : '' ]">

                    <li><a [routerLink]="'veterinario'">Meu Perfil</a></li>
                    <li><a [routerLink]="'veterinario'">Meus Pacientes</a></li>
                    <li><a [routerLink]="'veterinario'">Agendamentos</a></li>
                    <li><a [routerLink]="'/'" (click)="sair()">Sair</a></li>
                </ul>


            </div>

            <div *ngIf="user?.role == 2">
                <ul class="main-nav" [ngClass]="[base === 'home-seven' ? 'white-font' : '' ]">

                    <li><a [routerLink]="'estabelecimento'">Meu Estabelecimento</a></li>
                    <li><a [routerLink]="'estabelecimento'">Consultas em minha clinica</a></li>
                    <li><a [routerLink]="'/'" (click)="sair()">Sair</a></li>
                </ul>
            </div>

            <div *ngIf="user?.role == 0">
                <ul class="main-nav" [ngClass]="[base === 'home-seven' ? 'white-font' : '' ]">
                  <li><a [routerLink]="'/'" (click)="sair()">Sair</a></li>
                </ul>
            </div>

            <div *ngIf="user?.role || user?.role == 0">

            </div>

        </div>

        <ul class="nav header-navbar-rht" *ngIf="comrytmenu">
            <!--<li class="nav-item contact-item">
                    <div class="header-contact-img">
                        <i class="far fa-hospital"></i>
                    </div>
                    <div class="header-contact-detail">
                        <p class="contact-header">Contact</p>
                        <p class="contact-info-header"> +1 315 369 5943</p>
                    </div>
                </li> -->
            <li [class.active]="base === 'login-page'" class="nav-item" *ngIf="!auth">
                <!--<a class="nav-link header-login"  [routerLink]="'login-page'">login / Signup </a> -->
                <a *ngIf="!user" class="nav-link header-login" [routerLink]="'cadastro'">Você é um Especialista?
                    Inscreva-se</a>
                <p *ngIf="user">Bem vindo {{user.login}}</p>
            </li>
            <!-- User Menu -->
            <li class="nav-item dropdown has-arrow logged-item" *ngIf="auth">
                <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    <span class="user-img">
                        <img class="rounded-circle" src="assets/img/doctors/doctor-thumb-02.jpg" width="31"
                            alt="Darren Elder">
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" style="right:0;left:auto;">
                    <div class="user-header">
                        <div class="avatar avatar-sm">
                            <img src="assets/img/doctors/doctor-thumb-02.jpg" alt="User Image"
                                class="avatar-img rounded-circle">
                        </div>
                        <div class="user-text">
                            <h6>Darren Elder</h6>
                            <p class="text-muted mb-0" *ngIf="!isPatient">Doctor</p>
                            <p class="text-muted mb-0" *ngIf="isPatient">Patient</p>
                        </div>
                    </div>
                    <a class="dropdown-item" *ngIf="!isPatient" [routerLink]="'/doctor/dashboard'"
                        style="cursor: pointer;">Dashboard</a>
                    <a class="dropdown-item" *ngIf="!isPatient" [routerLink]="'/doctor/settings'"
                        style="cursor: pointer;">Profile Settings</a>
                    <a class="dropdown-item" *ngIf="isPatient" [routerLink]="'/patients/dashboard'"
                        style="cursor: pointer;">Dashboard</a>
                    <a class="dropdown-item" *ngIf="isPatient" [routerLink]="'/patients/settings'"
                        style="cursor: pointer;">Profile Settings</a>
                    <a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Logout</a>
                </div>
            </li>
            <!-- /User Menu -->

        </ul>

    </nav>
</header>
