<!-- Header -->
<div class="header">
	<!-- Logo -->
	<div class="header-left">
		<a (click)="changeScope()" href="#/index" class="logo">
			<img src="assets/img/logo-admin.png" alt="Logo">
		</a>
		<a (click)="changeScope()" href="#/index" class="logo logo-small">
			<img src="assets/admin/img/logo-small.png" alt="Logo" width="30" height="30">
		</a>
	</div>
	<!-- /Logo -->

	<a href="javascript:void(0);" id="toggle_btn">
		<i class="fe fe-text-align-left"></i>
	</a>

	<div class="top-nav-search">
		<form>
			<input type="text" class="form-control" placeholder="Digite...">
			<button class="btn" type="submit"><i class="fa fa-search"></i></button>
		</form>
	</div>

	<!-- Mobile Menu Toggle -->
	<a class="mobile_btn" id="mobile_btn">
		<i class="fa fa-bars"></i>
	</a>
	<!-- /Mobile Menu Toggle -->

	<!-- Header Right Menu -->
	<ul class="nav user-menu">

		<!-- Notifications -->
		<li class="nav-item dropdown noti-dropdown">
			<a href="javascript:void(0)" class="dropdown-toggle nav-link" (click)="bell()"
				[attr.aria-expanded]="!bellCollapsed" aria-controls="collapseExample1">
				<i class="fe fe-bell"></i> <span class="badge badge-pill">3</span>
			</a>
			<div class="dropdown-menu notifications" id="collapseExample1" [ngbCollapse]="bellCollapsed">
				<div class="topnav-dropdown-header">
					<span class="notification-title">Notifications</span>
					<a href="javascript:void(0)" class="clear-noti" (click)="bellCollapsed = !bellCollapsed"> Clear All
					</a>
				</div>
				<div class="noti-content">
					<ul class="notification-list">
						<li class="notification-message" (click)="bellCollapsed = !bellCollapsed">
							<a href="javascript:void(0)">
								<div class="media">
									<span class="avatar avatar-sm">
										<img class="avatar-img rounded-circle" alt="User Image"
											src="assets/img/doctors/doctor-thumb-02.jpg">
									</span>
									<div class="media-body">
										<p class="noti-details"><span class="noti-title">Dr. Ruby Perrin</span> Schedule
											<span class="noti-title">her appointment</span></p>
										<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
									</div>
								</div>
							</a>
						</li>
						<li class="notification-message" (click)="bellCollapsed = !bellCollapsed">
							<a href="javascript:void(0)">
								<div class="media">
									<span class="avatar avatar-sm">
										<img class="avatar-img rounded-circle" alt="User Image"
											src="assets/img/patients/patient1.jpg">
									</span>
									<div class="media-body">
										<p class="noti-details"><span class="noti-title">Charlene Reed</span> has booked
											her appointment to <span class="noti-title">Dr. Ruby Perrin</span></p>
										<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
									</div>
								</div>
							</a>
						</li>
						<li class="notification-message" (click)="bellCollapsed = !bellCollapsed">
							<a href="javascript:void(0)">
								<div class="media">
									<span class="avatar avatar-sm">
										<img class="avatar-img rounded-circle" alt="User Image"
											src="assets/img/patients/patient2.jpg">
									</span>
									<div class="media-body">
										<p class="noti-details"><span class="noti-title">Travis Trimble</span> sent a
											amount of $210 for his <span class="noti-title">appointment</span></p>
										<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
									</div>
								</div>
							</a>
						</li>
						<li class="notification-message" (click)="bellCollapsed = !bellCollapsed">
							<a href="javascript:void(0)">
								<div class="media">
									<span class="avatar avatar-sm">
										<img class="avatar-img rounded-circle" alt="User Image"
											src="assets/img/patients/patient3.jpg">
									</span>
									<div class="media-body">
										<p class="noti-details"><span class="noti-title">Carl Kelly</span> send a
											message <span class="noti-title"> to his doctor</span></p>
										<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="topnav-dropdown-footer">
					<a href="javascript:void(0)" (click)="bellCollapsed = !bellCollapsed">View all Notifications</a>
				</div>
			</div>
		</li>
		<!-- /Notifications -->

		<!-- User Menu -->
		<li class="nav-item dropdown has-arrow" id="dropdown">
			<a href="javascript:void(0)" class="dropdown-toggle nav-link" class="dropdown-toggle nav-link"
				(click)="user()" [attr.aria-expanded]="!userCollapsed" aria-controls="collapseExample2">
				<span class="user-img"><img class="rounded-circle" src="assets/admin/img/profiles/avatar-01.jpg"
						width="31" alt="Ryan Taylor"></span>
			</a>
			<div class="dropdown-menu" id="collapseExample2" [ngbCollapse]="userCollapsed">
				<div class="user-header">
					<div class="avatar avatar-sm">
						<img src="assets/admin/img/profiles/avatar-01.jpg" alt="User Image"
							class="avatar-img rounded-circle">
					</div>
					<div class="user-text">
						<h6>{{userLogged.login}}</h6>
						<p *ngIf="userLogged.isAdmin" class="text-muted mb-0">Administrator</p>
						<p *ngIf="userLogged.role == 1" class="text-muted mb-0">Veterinário</p>

					</div>
				</div>

				<a class="dropdown-item" (click)="clickLogout()">Logout</a>
			</div>
		</li>
		<!-- /User Menu -->

	</ul>
	<!-- /Header Right Menu -->

</div>
<!-- /Header -->

<!-- Sidebar -->
<div class="sidebar" id="sidebar">
	<div class="sidebar-inner slimscroll">
		<div id="sidebar-menu" class="sidebar-menu">
			<ul>



				<li *ngIf="userLogged.isAdmin" class="menu-title">
					<span>Administrador</span>
				</li>

				<li *ngIf="userLogged.isAdmin" [routerLink]="'/admin/dashboard-admin'"
					[class.active]="page === 'Dashboard-admin'">
					<a (click)="change('Dashboard-admin')"><i class="fe fe-home" style="color: #fff"></i>
						<span style="color: #fff">Dashboard</span></a>
				</li>

				<li *ngIf="userLogged.isAdmin" [class.active]="page === 'Patients'">
					<a (click)="change('Patients')" [routerLink]="'/admin/patients'"><i class="fe fe-user"></i>
						<span>Usuários</span></a>
				</li>

				<li *ngIf="userLogged.isAdmin" class="submenu">
					<a href="javascript:void(0)"><i class="fe fe-document"></i> <span> Veterinários</span> <span
							class="menu-arrow"></span></a>
					<ul style="display: none;">
						<li [class.active]="page === 'veterinario'"><a (click)="change('veterinario')"
								[routerLink]="'/admin/list-veterinario'">Manter</a></li>
					</ul>
				</li>

				<li *ngIf="userLogged.isAdmin" class="submenu">
					<a href="javascript:void(0)"><i class="fe fe-document"></i> <span> Clínicas</span> <span
							class="menu-arrow"></span></a>
					<ul style="display: none;">
						<li [class.active]="page === 'clinica'"><a (click)="change('clinica')"
								[routerLink]="'/admin/list-estabelecimento'">Manter</a></li>
					</ul>
				</li>

				<li *ngIf="userLogged.isAdmin" class="submenu">
					<a href="javascript:void(0)"><i class="fe fe-document"></i> <span> Adestradores</span> <span
							class="menu-arrow"></span></a>
					<ul style="display: none;">
						<li [class.active]="page === 'adestrador'"><a (click)="change('adestrador')"
								[routerLink]="'/admin/list-adestrador'">Manter</a></li>
					</ul>
				</li>

				<li *ngIf="userLogged.isAdmin" class="submenu">
					<a href="javascript:void(0)"><i class="fe fe-document"></i> <span> Esteticistas</span> <span
							class="menu-arrow"></span></a>
					<ul style="display: none;">
						<li [class.active]="page === 'estetica'"><a (click)="change('estetica')"
								[routerLink]="'/admin/list-estetica'">Manter</a></li>
					</ul>
				</li>

				<li *ngIf="userLogged.isAdmin" class="submenu">
					<a href="javascript:void(0)"><i class="fe fe-vector"></i> <span> Parâmetros</span> <span
							class="menu-arrow"></span></a>
					<ul style="display: none;">
						<li [class.active]="page === 'especialidades'"><a (click)="change('especialidades')"
								[routerLink]="'/admin/invoice-reports'">Especialidades</a></li>
						<li [class.active]="page === 'servicos'"><a (click)="change('servicos')"
								[routerLink]="'/admin/servicos'">Servicos</a></li>
					</ul>
				</li>


				<li *ngIf="userLogged.role == 3" class="menu-title">
					<span>Adestrador</span>
				</li>
				<li *ngIf="userLogged.role == 3" [routerLink]="['/admin/cadastro-adestrador/',userRole?._id]"
					[class.active]="page === 'Dashboard'">
					<a (click)="change('Dashboard')"><i class="fe fe-home" style="color: #fff"></i>
						<span style="color: #fff">Perfil</span></a>
				</li>


				<li *ngIf="userLogged.role == 4" class="menu-title">
					<span>Esteticista</span>
				</li>
				<li *ngIf="userLogged.role == 4" [routerLink]="['/admin/cadastro-estetica/',userRole?._id]"
					[class.active]="page === 'Dashboard'">
					<a (click)="change('Dashboard')"><i class="fe fe-home" style="color: #fff"></i>
						<span style="color: #fff">Perfil</span></a>
				</li>


				<li *ngIf="userLogged.role == 1" class="menu-title">
					<span>Veterinário</span>
				</li>
				<li *ngIf="userLogged.role == 1" [routerLink]="['/admin/cadastro-veterinario/',veterinario?._id]"
					[class.active]="page === 'Dashboard'">
					<a (click)="change('Dashboard')"><i class="fe fe-home" style="color: #fff"></i>
						<span style="color: #fff">Perfil</span></a>
				</li>
				<!--
				<li *ngIf="userLogged.role == 1" [routerLink]="'/admin/dashboard'" [class.active]="page === 'Dashboard'">
					<a  (click)="change('Dashboard')"><i class="fe fe-home" style="color: #fff"></i>
						<span style="color: #fff">Dashboard</span></a>
				</li>

				<li *ngIf="userLogged.role == 1" [class.active]="page === 'Appointments'">
					<a  (click)="change('Appointments')" [routerLink]="'/admin/appointment'"><i class="fe fe-layout"></i> <span>Agendamentos</span></a>
				</li>
        -->


			</ul>
		</div>
	</div>
</div>
<!-- /Sidebar -->