<!-- Home Banner -->
<section class="section-search-3">
    <div class="container">
        <div class="banner-info">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <div class="header-banner">
                        <h2>Pesquise o veterinário e agende uma consulta para o seu Pet.</h2>
                        <p>Descubra os melhores especialistas, clínicas e Pet Shops da cidade mais próxima de você.</p>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="">
                        <div class="">

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="">
                                        <div class="">

                                            <div class="">
                                                <div class="">
                                                    <ngx-select [allowClear]="true" [items]="especialidades" optionValueField="_id" optionTextField="nomeFormated" [(ngModel)]="especialidadeEscolhida" style="color: black;" (selectionChanges)="normalizeNome($event)" (remove)="listarEspecialidades()" (typed)="inputTyped($event)"
                                                        placeholder="nome, clínica, especialidade, serviço">



                                                        <ng-template ngx-select-option let-option>

                                                            <span *ngIf="!option.data.type"><i class="fas fa-bone fa-lg" style="color: rgb(105, 105, 247); padding-right: 10px; "></i></span>
                                                            <span *ngIf="option.data.type == 1"><i class="fas fa-bone fa-lg" style="color: rgb(105, 105, 247); padding-right: 10px;"></i></span>
                                                            <span *ngIf="option.data.type == 2"><i class="fas fa-paw fa-lg" style="color: rgb(0, 131, 11);padding-right: 10px; "></i></span>
                                                            <span *ngIf="option.data.type == 3"><i class="fas fa-clinic-medical fa-lg" style="color: rgb(248, 95, 120);padding-right: 10px;"></i></span>
                                                            <span *ngIf="option.data.type == 4"><i class="fas fa-certificate" style="color: rgb(246, 248, 95);padding-right: 10px;"></i></span>
                                                            <span *ngIf="option.data.type == 5"><i class="fas fa-solid fa-dog fa-lg" style="color: rgb(100, 248, 95);padding-right: 10px;"></i></span>


                                                            <span>
                                                                      {{option.data.nome}}
                                                                  </span>


                                                            <span *ngIf="option.data.type == 1" style="float:right; color:gray">Especialidade</span>
                                                            <span *ngIf="option.data.type == 2" style="float:right; color:gray">Veterinário</span>
                                                            <span *ngIf="option.data.type == 3" style="float:right; color:gray ">Clínica</span>
                                                            <span *ngIf="option.data.type == 4" style="float:right; color:gray ">Adestrador</span>
                                                            <span *ngIf="option.data.type == 5" style="float:right; color:gray ">Estética</span>


                                                        </ng-template>

                                                        <ng-template ngx-select-option-not-found>
                                                            Nenhum item encontrado
                                                        </ng-template>

                                                    </ngx-select>
                                                    <p></p>
                                                </div>
                                            </div>






                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="">
                                        <div class="">


                                            <div class="">
                                                <div class="">

                                                    <ngx-select [allowClear]="true" [items]="places" optionValueField="placeId" optionTextField="description" [(ngModel)]="cidadeEscolhida" style="color: black;" (typed)="searchLocale($event)" placeholder="Localização">



                                                        <ng-template ngx-select-option let-option>
                                                            <i class="fas fa-map-marker-alt" style="padding-right: 10px;"></i>
                                                            <span>
                                                                      {{option.data.description}}
                                                                  </span>

                                                        </ng-template>

                                                        <ng-template ngx-select-option-not-found>
                                                            Nenhum lugar localizado
                                                        </ng-template>

                                                    </ngx-select>

                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                                <!--<div class="col-md-6">
                                      <div class="form-group">
                                          <div class="form-custom">


                                              <div class="example-block">
                                                  <div class="example-block__item">
                                                      <ngx-select [allowClear]="true"
                                                                  [items]="cidades" optionValueField="_id" optionTextField="nome"
                                                                  [(ngModel)]="cidadeEscolhida"
                                                                  placeholder="Cidade">

                                                          <ng-template ngx-select-option ngx-select-option-selected let-option let-text="text">

                                                              {{option.text}}
                                                          </ng-template>

                                                          <ng-template ngx-select-option-not-found>
                                                              Nenhum item encontrado
                                                          </ng-template>

                                                      </ngx-select>
                                                      <p></p>
                                                  </div>
                                              </div>


                                          </div>
                                      </div>
                                  </div>-->


                                <div class="col-md-7"></div>
                                <div class="col-md-5">
                                    <a *ngIf="!isload" class="btn banner-btn" href="javascript:void(0);" (click)="consultar(especialidadeEscolhida)"><i class="fa fa-search" aria-hidden="true"></i> Pesquisar</a>
                                    <button *ngIf="isload" type="button" class="btn banner-btn"><span class="spinner-border spinner-border-sm mr-2" role="status"></span>Buscando sua melhor opção</button>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Home Banner -->
<!-- specialit Section -->
<section id="top-scroll" class="section section-specialities">
    <div class="container-fluid">
        <div class="section-header text-center aos aos-init aos-animate" data-aos="fade-up">
            <h2 style="color:#0071DC;">Especialidades</h2>
            <p class="sub-title">Encontre o melhor especialista para seu pet.</p>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-md-9">
                <ul class="entry-meta meta-item">
                    <li class="slide text-center col-lg-3 col-md-3 col-sm-12" *ngFor="let especialidadeTotal of especialidadesTotal">
                        <div class="speicality-img">
                            <img src="assets/img/shapes/{{especialidadeTotal.nomeFormated.trim().split(' ').join('_')}}.png" class="img-fluid" alt="Speciality">


                        </div>
                        <p><a [routerLink]="['/list', especialidadeTotal.nomeFormated.trim().split(' ').join('-').toLowerCase(), '']" class="linkEsp" style="color:#000000">{{especialidadeTotal.nome}}</a></p>
                    </li>
                </ul>
                <div class="col-md-12 text-end">
                    <div class="view-all-more-home text-center">
                        <button class="btn btn-primary" (click)="showMoreEspecialidade()" *ngIf="totalListaEspecialidade.length > especialidadesTotal.length">Veja Mais <i class="fas fa-arrow-right ms-2"></i></button>

                    </div>
                    <div class="view-all-more-home text-center" *ngIf="totalListaEspecialidade.length == especialidadesTotal.length">
                        <a (click)="showLessEspecialidade()" class="btn btn-primary">Fechar</a>
                    </div>
                </div>


            </div>

        </div>

    </div>
</section>
<!-- /specialist Section -->
<!-- popular section-->
<section class="section section-doctor">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="section-header ">
                    <h2 style="color:#0071DC;">Profissionais em Destaque</h2>
                    <p>Conheça os profissionais que mais se destacaram na Vetzco </p>
                </div>
                <div class="about-content">
                    <p>Nossos profissionais no Brasil todo vem atendendo seu Pets com muito carinho e sucesso.</p>
                    <p>Aqui você pode encontrar atendimento para seus animais em diversas especialidades desde consulta veterinária a atividades de adestramento, estética e e pets shop</p>
                    <!--<a href="javascript:;">Saiba mais..</a>-->
                </div>
            </div>
            <div class="col-lg-8">
                <div class="doctor-slider">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfigure">
                        <div class="slick-slide" *ngFor="let doctor of doctors; index as i">
                            <div ngxSlickItem>
                                <div class="profile-widget" style="width: 100%; display: inline-block;">
                                    <div class="doc-img">
                                        <a [routerLink]="'/doctor/'+formataUrldados(doctor.nome,doctor.especialidades[0]?.nome,doctor.endereco.municipio)" tabindex="-1">
                                            <img class="img-fluid" alt="Imagem" [src]="getImageDoctor(doctor)">
                                        </a>
                                        <a href="javascript:void(0)" class="fav-btn" tabindex="-1">
                                            <i class="far fa-bookmark"></i>
                                        </a>
                                    </div>
                                    <div class="pro-content">
                                        <h3 class="title" style="height:60px;">
                                            <a [routerLink]="'/doctor/'+formataUrldados(doctor.nome,doctor.especialidades[0]?.nome,doctor.endereco.municipio)" tabindex="-1" style="color:#000000">{{doctor.nome}}</a>
                                            <i class="fas fa-check-circle verified"></i>
                                        </h3>
                                        <ul style="height:40px;">
                                            <li *ngIf="doctor.especialidades[0]" class="speciality">{{doctor.especialidades[0]?.nome}}</li>
                                        </ul>
                                        <div class="rating">
                                            <label *ngFor="let item of [1,2,3,4,5]">
                                                    <i *ngIf="starsRate[i] >= item" class="fas fa-star filled"></i>
                                                    <i *ngIf="starsRate[i] < item" class="fas fa-star"></i>
                                                </label>
                                            <span class="d-inline-block average-rating"> ({{doctor.reviews.length}})</span>
                                        </div>
                                        <ul class="available-info">
                                            <li>
                                                <i class="fas fa-map-marker-alt"></i> {{doctor.uf}}
                                            </li>
                                            <!--<li>
                                                    <i class="far fa-clock"></i> {{doctor.Available}}
                                                </li>
                                                <li>
                                                    <i class="far fa-money-bill-alt"></i> {{doctor.Price}}
                                                    <a href="javascript:void(0)" tooltip="Lorem Ipsum" placement="top"><i class="fas fa-info-circle"></i></a>
                                                </li>-->
                                        </ul>
                                        <div class="row row-sm">
                                            <div class="col-6">
                                                <a [routerLink]="'/doctor/'+formataUrldados(doctor.nome,doctor.especialidades[0]?.nome,doctor.endereco.municipio)"  class="btn view-btn" tabindex="-1">Veja</a>
                                            </div>
                                            <div class="col-6">
                                                <!--<a [routerLink]="'/patients/booking'" [queryParams]="{id: doctor.id}" class="btn book-btn" tabindex="-1">Agendar</a>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </div>
</section>
<!--popular section-->
<!-- Clinic Section -->
<!--<section class="clinic-specialities">
    <div class="container">
        <div class="section-header-three text-center">
            <h2>Especialidades</h2>
            <p class="sub-title">O melhor especialista para seu pet a um click de você.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 shadow-sm p-3 mb-5 bg-white rounded" *ngFor="let especialidadeTotal of especialidadesTotal">
                <div class="special-box text-center">
                    <div class="special-body">
                        <img src="assets/img/shapes/{{especialidadeTotal.nomeFormated.trim().split(' ').join('_')}}.png" onerror="this.onerror=null;this.src='assets/img/shapes/Comportamento_Animal.png';" alt="" />
                        <h4>{{especialidadeTotal.nome}}</h4>
                        <a [routerLink]="['/list', especialidadeTotal.nomeFormated.trim().split(' ').join('-').toLowerCase(), '']" class="spc-book">Agende agora<i class="fas fa-caret-right"></i> </a>
                    </div>
                    <div class="row row-sm special-footer">
                        <div class="col-6 text-left">
                            <a href="#" class="doc-count">{{especialidadeTotal.totalVet}} <span>Veterinários</span></a>
                        </div>
                        <div class="col-6 text-right">
                            <a href="#" class="clin-count">{{especialidadeTotal.totalEstab}} <span>Clínicas</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="view-all-more-home text-center" *ngIf="totalListaEspecialidade.length > especialidadesTotal.length">
            <a (click)="showMoreEspecialidade()" class="btn btn-primary">Veja Mais</a>
        </div>
        <div class="view-all-more-home text-center" *ngIf="totalListaEspecialidade.length == especialidadesTotal.length">
            <a (click)="showLessEspecialidade()" class="btn btn-primary">Fechar</a>
        </div>

    </div>
</section>-->
<!-- /Clinic Section -->

<!-- Doctor Section-->
<section class="doctor-divison">
    <div class="">
        <div class="doc-background">
            <h3>Você é um especialista?</h3>
            <p>Construa sua reputação online rapidamente e seja encontrado por tutores de todo país.</p>
            <p> São mais de 141 milhões de p ets no Brasil em busca de um profissional.</p>
            <a [routerLink]="'/cadastro'" class="doc-bok-btn">cadastre-se</a>
        </div>
        <!--<div class="pat-background">
          <h3></h3>
          <p></p>
          <a class="doc-bok-btn"></a>
      </div> -->
    </div>
</section>
<!-- /Doctor Section-->