<!-- Home Banner -->
<section class="section-search-3">
    <div class="container">
        <div class="banner-info">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <div class="header-banner">
                        <h2>Faça a sua pesquisa e encontre o atendimento adequado para o seu Pet.</h2>
                        <p>Descubra os melhores especialistas, clínicas e Pet Shops da cidade mais próxima de você.</p>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="">
                        <div class="">

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="">
                                        <div class="">

                                            <div class="">
                                                <div class="">
                                                    <ngx-select [allowClear]="true" [items]="especialidades" optionValueField="_id" optionTextField="nomeFormated" [(ngModel)]="especialidadeEscolhida" style="color: black;" (selectionChanges)="normalizeNome($event)" (remove)="listarEspecialidades()" (typed)="inputTyped($event)"
                                                        placeholder="nome, clínica, especialidade, serviço">



                                                        <ng-template ngx-select-option let-option>

                                                            <span *ngIf="!option.data.type"><i class="fas fa-bone fa-lg" style="color: rgb(105, 105, 247); padding-right: 10px; "></i></span>
                                                            <span *ngIf="option.data.type == 1"><i class="fas fa-bone fa-lg" style="color: rgb(105, 105, 247); padding-right: 10px;"></i></span>
                                                            <span *ngIf="option.data.type == 2"><i class="fas fa-paw fa-lg" style="color: rgb(0, 131, 11);padding-right: 10px; "></i></span>
                                                            <span *ngIf="option.data.type == 3"><i class="fas fa-clinic-medical fa-lg" style="color: rgb(248, 95, 120);padding-right: 10px;"></i></span>
                                                            <span *ngIf="option.data.type == 4"><i class="fas fa-certificate" style="color: rgb(246, 248, 95);padding-right: 10px;"></i></span>
                                                            <span *ngIf="option.data.type == 5"><i class="fas fa-solid fa-dog fa-lg" style="color: rgb(100, 248, 95);padding-right: 10px;"></i></span>


                                                            <span>
                                                                      {{option.data.nome}}
                                                                  </span>


                                                            <span *ngIf="option.data.type == 1" style="float:right; color:gray">Especialidade</span>
                                                            <span *ngIf="option.data.type == 2" style="float:right; color:gray">Veterinário</span>
                                                            <span *ngIf="option.data.type == 3" style="float:right; color:gray ">Clínica</span>
                                                            <span *ngIf="option.data.type == 4" style="float:right; color:gray ">Adestrador</span>
                                                            <span *ngIf="option.data.type == 5" style="float:right; color:gray ">Estética</span>


                                                        </ng-template>

                                                        <ng-template ngx-select-option-not-found>
                                                            Nenhum item encontrado
                                                        </ng-template>

                                                    </ngx-select>
                                                    <p></p>
                                                </div>
                                            </div>






                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="">
                                        <div class="">


                                            <div class="">
                                                <div class="">

                                                    <ngx-select [allowClear]="true" [items]="places" optionValueField="placeId" optionTextField="description" [(ngModel)]="cidadeEscolhida" style="color: black;" (typed)="searchLocale($event)" placeholder="Localização">



                                                        <ng-template ngx-select-option let-option>
                                                            <i class="fas fa-map-marker-alt" style="padding-right: 10px;"></i>
                                                            <span>
                                                                      {{option.data.description}}
                                                                  </span>

                                                        </ng-template>

                                                        <ng-template ngx-select-option-not-found>
                                                            Nenhum lugar localizado
                                                        </ng-template>

                                                    </ngx-select>

                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                                <!--<div class="col-md-6">
                                      <div class="form-group">
                                          <div class="form-custom">


                                              <div class="example-block">
                                                  <div class="example-block__item">
                                                      <ngx-select [allowClear]="true"
                                                                  [items]="cidades" optionValueField="_id" optionTextField="nome"
                                                                  [(ngModel)]="cidadeEscolhida"
                                                                  placeholder="Cidade">

                                                          <ng-template ngx-select-option ngx-select-option-selected let-option let-text="text">

                                                              {{option.text}}
                                                          </ng-template>

                                                          <ng-template ngx-select-option-not-found>
                                                              Nenhum item encontrado
                                                          </ng-template>

                                                      </ngx-select>
                                                      <p></p>
                                                  </div>
                                              </div>


                                          </div>
                                      </div>
                                  </div>-->


                                <div class="col-md-7"></div>
                                <div class="col-md-5">
                                    <a *ngIf="!isload" class="btn banner-btn" href="javascript:void(0);" (click)="consultar(especialidadeEscolhida)"><i class="fa fa-search" aria-hidden="true"></i> Pesquisar</a>
                                    <button *ngIf="isload" type="button" class="btn banner-btn"><span class="spinner-border spinner-border-sm mr-2" role="status"></span>Buscando sua melhor opção</button>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Home Banner -->


<!-- Clinic Section -->
<section class="clinic-specialities">
    <div class="container">
        <div class="section-header-three text-center">
            <h2>Especialistas</h2>
            <p class="sub-title">O melhor especialista para seu pet a um click de você.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 shadow-sm p-3 mb-5 bg-white rounded" *ngFor="let especialidadeTotal of especialidadesTotal">
                <div class="special-box text-center">
                    <div class="special-body">
                        <img src="assets/img/shapes/{{especialidadeTotal.nomeFormated.trim().split(' ').join('_')}}.png" onerror="this.onerror=null;this.src='assets/img/shapes/Comportamento_Animal.png';" alt="" />
                        <h4>{{especialidadeTotal.nome}}</h4>
                        <a [routerLink]="['/list', especialidadeTotal.nomeFormated.trim().split(' ').join('-').toLowerCase(), '']" class="spc-book">Agende agora<i class="fas fa-caret-right"></i> </a>
                    </div>
                    <div class="row row-sm special-footer">
                        <div class="col-6 text-left">
                            <a href="#" class="doc-count">{{especialidadeTotal.totalVet}} <span>Veterinários</span></a>
                        </div>
                        <div class="col-6 text-right">
                            <a href="#" class="clin-count">{{especialidadeTotal.totalEstab}} <span>Clínicas</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="view-all-more-home text-center" *ngIf="totalListaEspecialidade.length > especialidadesTotal.length">
            <a (click)="showMoreEspecialidade()" class="btn btn-primary">Veja Mais</a>
        </div>
        <div class="view-all-more-home text-center" *ngIf="totalListaEspecialidade.length == especialidadesTotal.length">
            <a (click)="showLessEspecialidade()" class="btn btn-primary">Fechar</a>
        </div>

    </div>
</section>
<!-- /Clinic Section -->

<!-- Doctor Section-->
<section class="doctor-divison">
    <div class="">
        <div class="doc-background">
            <h3>Você é um especialista?</h3>
            <p>Construa sua reputação online rapidamente e seja encontrado por tutores de todo país.</p>
            <p> São mais de 141 milhões de pets no Brasil em busca de um profissional.</p>
            <a [routerLink]="'/cadastro'" class="doc-bok-btn">cadastre-se</a>
        </div>
        <!--<div class="pat-background">
          <h3></h3>
          <p></p>
          <a class="doc-bok-btn"></a>
      </div> -->
    </div>
</section>
<!-- /Doctor Section-->