<!-- Availabe Features -->
<section class="section section-features">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-md-2 features-img">


                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 section-header ">
                    <h2 class="mt-2" style="color: #28a745;">Nossos Planos</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>

                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 section-switch text-right mt-2">
                    <button type="button" class="btn btn-rounded btn-primary">Anual</button>
                    <button type="button" class="btn btn-rounded btn-danger">Mensal</button>


                </div>
            </div>
        </div>

    </div>
</section>
<!-- /Availabe Features -->
<!--Category Section -->
<section class="category-sec">
    <div class="container">
        <div class="row">

            <div class="col-md-4" *ngFor="let plano of planos; let odd = odd">
                <div class="set-category" [ngClass]="{ lighter: odd }">
                    <div class="d-flex align-items-center">

                        <div id="dados-plano" class="info-holder">
                            <h3 style="text-align:center;color:#ffffff;">{{plano.nome}}</h3>
                            <p style="text-align:center;color:#ffffff;">{{plano.descricao}}</p>
                            <h2 style="text-align:center;color:#ffffff;">{{plano.cobranca?.quantidadeParcela > 1 ? plano.cobranca?.quantidadeParcela+ 'x ': '' }} {{getvalorPlano(plano.cobranca)}}</h2>
                            <h4 *ngIf="plano.cobranca?.valor!='0'" style="text-align:center;color:#ffffff;">à vista {{plano.cobranca?.valor | currency : 'BRL'}}</h4>
                            <p>&nbsp;</p>
                            <div *ngFor="let caracteristica of plano.caracteristicas">
                                <ins _ngcontent-kyr-c283="" style="margin-bottom:15px;color:#ffffff;">{{caracteristica.titulo}} </ins><br />
                            </div>

                            <p>&nbsp;</p>
                            <a style="text-align:center;color:#ffffff;" [routerLink]="'/patients/booking'" [ngClass]="odd ? 'btn btn-block btn-outline-dark active' : 'btn btn-block btn-outline-primary active'">Começar agora </a>
                        </div>
                    </div>

                </div>
                <div class="br-cao">
                    <br /><br /><br /><br />
                </div>
            </div>
            <div class="col-md-4">
                <div class="br-cao">
                    <br /><br />
                </div>
                <div class="cachorro">

                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Category Section -->
<!-- O que estão falando -->
<section class="clinic-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 sec-header">
                <h6 style="color:#ffffff;">DEPOIMENTOS</h6>
                <h2 style="color:#32b7bc">O que falam de nós</h2>
                <span class="bottom-border"></span>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <ngx-slick-carousel class="clinic-slider slider" #slickModal="slick-carousel" [config]="depoimentosliderConfig">
                    <div ngxSlickItem *ngFor="let slide of depoimentosliderslides" class="profile-widget">
                        <div class="brower-box">
                            <span class="quotes-g" style="display: block;
                            font-weight: bolder;
                            font-size: 40px;text-align:left;">"</span>
                            <p class="text-left"><strong>{{slide.text}}</strong></p>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 post-author avatar-img">
                                        <img class="" alt="" src="{{slide.imghover}}" />
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 avatar-nome">

                                        <p style="height:40px;">{{slide.author}} </p>
                                        <h6><span>{{slide.department}}</span></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</section>
<!-- /O que estão falando -->
<!--<section class="section section-plan">
    <div class="container-fluid">
        <div class="row align-items-center pb-3">
            <div class="col-md-4 col-12 d-md-block d-none custom-short-by">
                <h3 class="title pharmacy-title">Nossos Planos</h3>
                <span class="sort-title">Descrição da página ....</span>
            </div>
            <div class="col-md-8 col-12 d-md-block d-none custom-short-by">
                <div class="sort-by pb-3">
                    <span class="sort-title">Anual/Mensal</span>
                    <span class="sortby-fliter">
					<select class="select">
						<option>Select</option>
						<option class="sorting">Rating</option>
						<option class="sorting">Popular</option>
						<option class="sorting">Latest</option>
						<option class="sorting">Free</option>
					</select>
				</span>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12">
                        <div class="features-slider slider">
                            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfigure">
                                <div class="slick-slide">
                                    <div ngxSlickItem>
                                        <div class="profile-widget" style="width: 100%; display: inline-block;">
                                            <div>
                                                <h3 style="font-size: 32px;
											color: #32b7bc;
											font-weight: 700;
											margin-bottom: 20px;  font-style: italic;">BÁSICO</h3>-->
<!-- <a [routerLink]="'/doctor/'+formatarParamUrl(doctor.nome)" tabindex="-1">
												<img class="img-fluid" alt="Imagem" [src]="getImageDoctor(doctor)"> 
                                                </a>-->
<!--  <a href="javascript:void(0)" class="fav-btn" tabindex="-1">
                                                    <i class="far fa-bookmark"></i>
                                                </a>
                                                <h3 class="title">
                                                    <a tabindex="-1" style="color: #000000;font-size: 70px;">grátis</a>
                                                </h3>
                                            </div>
                                            <div class="body-slick">
                                                <ul>
                                                    <li class="speciality"> <i class="fas fa-check-circle verified"></i> caracteristicas 1</li>
                                                    <li class="speciality"> <i class="fas fa-check-circle verified"></i> caracteristicas 2</li>
                                                    <li class="speciality"> <i class="fas fa-check-circle verified"></i> caracteristicas 3</li>
                                                </ul>
                                            </div>
                                            <div class="footer-slick">
                                                <div class="row d-flex justify-content-center">
                                                    <div class="col-6">
                                                        <a class="btn view-btn" tabindex="-1">Começar agora</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </ngx-slick-carousel>-->
<!-- <div class="text-center client-navbtn">
									<button class="btn-next" (click)="nextslide()"><i
											class="las la-caret-square-left"></i></button>
									<button class="btn-prev" (click)="prevslide()"><i
											class="las la-caret-square-right"></i></button>
								</div> -->
<!--</div>
                    </div>
                </div>
            </div>-->
<!-- <div class="col-md-7 col-lg-6 dog-caramelo">
                <img src="/assets/img/plan/dog-caramelo.jpg" class="img-fluid" alt="Login Banner">
            </div> -->
<!--</div>
    </div>
</section>-->

<!-- Planos
<section class="section section-doctor">
    <div class="content-plano">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12">

                    <div class="row align-items-center pb-3">
                        <div class="col-md-4 col-12 d-md-block d-none custom-short-by">
                            <h3 class="title pharmacy-title">Nossos Planos</h3>
                            <span class="sort-title">Descrição da página ....</span>
                        </div>
                        <div class="col-md-8 col-12 d-md-block d-none custom-short-by">
                            <div class="sort-by pb-3">
                                <span class="sort-title">Anual/Mensal</span>
                                <span class="sortby-fliter">
                                <select class="select">
                                    <option>Select</option>
                                    <option class="sorting">Rating</option>
                                    <option class="sorting">Popular</option>
                                    <option class="sorting">Latest</option>
                                    <option class="sorting">Free</option>
                                </select>
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-lg-8">
                                <div class="doctor-slider">
                                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfigure">
                                        <div class="slick-slide">
                                            <div ngxSlickItem>
                                                <div class="profile-widget" style="width: 100%; display: inline-block;">
                                                    <div>
                                                        <h3 style="font-size: 28px;
													color: #32b7bc;
													font-weight: 700;
													margin-bottom: 20px;  font-style: italic;">Básico</h3>
                                                       <a [routerLink]="'/doctor/'+formatarParamUrl(doctor.nome)" tabindex="-1">
                                                        <img class="img-fluid" alt="Imagem" [src]="getImageDoctor(doctor)">
                                                    </a> 
                                                        <a href="javascript:void(0)" class="fav-btn" tabindex="-1">
                                                            <i class="far fa-bookmark"></i>
                                                        </a>
                                                    </div>
                                                    <div class="pro-content">
                                                        <h3 class="title" style="height:60px;">
                                                           <a [routerLink]="'/doctor/'+formatarParamUrl(doctor.nome)" tabindex="-1" style="color:#000000">{{doctor.nome}}</a>
                                                            grátis
                                                        </h3>
                                                        <ul style="height:40px;">
                                                            <li class="speciality"> <i class="fas fa-check-circle verified"></i> caracteristicas 1</li>
                                                            <li class="speciality"> <i class="fas fa-check-circle verified"></i> caracteristicas 2</li>
                                                            <li class="speciality"> <i class="fas fa-check-circle verified"></i> caracteristicas 3</li>
                                                        </ul>
                                                        <ul class="available-info">
                                                            <li>
                                                            </li>
                                                        </ul>
                                                        <div class="row row-sm">
                                                            <div class="col-6">
                                                                <a class="btn view-btn" tabindex="-1">Começar agora</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </ngx-slick-carousel>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="section-plan-right">

                                    <div class="section-">
                                        <p></p>
                                    </div>
                                    <div class="about-content">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</section> -->