.content {
    min-height: 200px;
    padding-bottom: 30px;
    
  }
  #login-right {
    margin: 15px 15px;
    padding: 20px;
    background-color:#ffffff;
  }
@media (min-width: 320px) and (max-width: 800px) {
    .content {
      padding-bottom: 30px;
    }
    #login-right {
      margin: 15px 15px;
      padding: 15px;
      background-color:#ffffff;
    }
   }